[2018-01-30 13:10] mwz opened #1 "Support for SonarQube 6.7.1 LTS"

[2018-02-01 00:16] mwz opened #2 "Add a property to specify scala version"
It's currently hardcoded to 2.11.8.

[2018-02-01 00:27] mwz opened #3 "Cyclomatic Complexity measurement (COMPLEXITY_KEY)"

[2018-02-03 22:01] mwz opened #4 "Set up CircleCI build"

[2018-02-10 21:07] mwz commented on #1
[`v6.0.0`](https://github.com/mwz/sonar-scala/releases/tag/v6.0.0) adds support for SonarQube 6.7.1 LTS.

[2018-02-10 21:07] #1 closed

[2018-02-10 21:07] #4 closed

[2018-02-10 23:43] mwz opened #6 "JavaConversions deprecations"
Use JavaConverters instead.

[2018-02-10 23:53] mwz opened #7 "SonarQube API deprecations"
Migrate away from deprecated apis.

- variable DOMAIN_TESTS in object CoreMetrics is deprecated
- trait Sensor in package batch is deprecated
- trait CoverageExtension in package batch is deprecated
- trait SensorContext in package batch is deprecated
- trait RuleFinder in package rules is deprecated
- trait ResourcePerspectives in package component is deprecated
- class Settings in package config

[2018-02-10 23:57] mwz opened #8 "Scapegoat support"
Here is a task list with high-level items so we can keep track of implementation progress:
- [x] Ingestion of Scapegoat inspections - (#50, @BalmungSan)
- [x] Scapegoat Rules Repository - (#59, @BalmungSan)
- [x] Scapegoat Quality Profile - (#69, @BalmungSan)
- [x] Scapegoat Sensor - (#71, @BalmungSan)
- [x] A mechanism for blacklisting inspections (#59 - @BalmungSan)
- [x] Scapegoat feature flag

[2018-02-11 00:02] mwz opened #9 "Code duplication metrics"
https://docs.sonarqube.org/display/SONAR/Metric+Definitions#MetricDefinitions-Duplications

[2018-02-11 00:07] mwz opened #10 "Scoverage Sensor tests"

[2018-02-11 00:28] mwz opened #11 "SonarQube 7.3"
- https://www.sonarqube.org/sonarqube-7-3
- https://jira.sonarsource.com/jira/secure/ReleaseNote.jspa?projectId=10930&version=14464

[2018-02-11 01:21] mwz opened #12 "Format code with scalafmt"

[2018-02-12 15:38] BalmungSan opened #13 "scoverage plugin not working"
Hi @mwz,

As I mentioned in Sagacify/sonar-scala#8 the scoverage plugin is not working for me, I had created a dummy project to reproduce the problem. ([BalmungSan/SonarScala-Scoverage-Test](https://github.com/BalmungSan/SonarScala-Scoverage-Test)).

I scan the project using the following command in the sbt shell, _";coverageOn;clean;test;coverageReport;scapegoat;sonarScan;coverageOff"_.

But, thi

[2018-02-12 15:42] mwz commented on #13
Thanks for reporting, I'll take a look shortly.

[2018-02-12 19:29] mwz commented on #13
It looks like you mispelled `reportPath` - you have `reportPat` instead https://github.com/BalmungSan/SonarScala-Scoverage-Test/blob/master/sonar-project.properties#L9.

[2018-02-12 19:51] BalmungSan commented on #13
...
Indeed that was the problem, sorry for bothering you for that. Anyway thanks

[2018-02-12 19:51] #13 closed

[2018-02-17 17:13] mwz opened #14 "Remove dependency on commons-io"
It is currently used only in [one place](https://github.com/mwz/sonar-scala/blob/master/src/main/scala/com/buransky/plugins/scoverage/pathcleaner/BruteForceSequenceMatcher.scala).

[2018-02-17 19:24] mwz opened #16 "Rule for ProcedureDefinitionChecker not found in Scalastyle repository"
The correct rule is called [`ProcedureDeclarationChecker`](https://github.com/scalastyle/scalastyle/blob/master/src/main/scala/org/scalastyle/scalariform/ProcedureDeclarationChecker.scala).

[2018-02-18 00:08] mwz commented on #6
Addressed in https://github.com/mwz/sonar-scala/pull/15.

[2018-02-18 00:08] #6 closed

[2018-02-18 17:38] #12 closed

[2018-02-18 22:55] mwz opened #18 "Coverage measure for custom coverage metrics should not be saved directly by a Sensor"
The following deprecation warnings are shown when running sonar analysis:

WARN: Coverage measure for metric 'uncovered_lines' should not be saved directly by a Sensor. Plugin should be updated to use SensorContext::newCoverage instead.
WARN: Coverage measure for metric 'coverage_line_hits_data' should not be saved directly by a Sensor. Plugin should be updated to use SensorContext::newCoverage in

[2018-02-19 14:34] BalmungSan commented on #16
Hello,

I had found the root of the error, it's a wrong line in the _default_config.xml_ file from the scalastyle jar, but probably you already know that.

I had open this issue, scalastyle/scalastyle#298, in the scalastyle repository, hope they fix it soon.

[2018-02-19 14:58] mwz commented on #16
Nice, thanks for raising the issue.

[2018-02-19 15:16] BalmungSan commented on #8
Hi,

You know that scapegoat can generate an [_"scalastyle"_ report](https://github.com/sksamuel/scapegoat/blob/26884ddce9b19f2d40e029f23d5bf55cd05debf2/src/main/scala/com/sksamuel/scapegoat/plugin.scala#L102-L104). I had been looking, but I can't find further documentation about that.

Maybe it's possible to integrate the results of scapegoat with the scalastyle sensor, and probably that is easie

[2018-02-19 20:47] mwz commented on #8
That's interesting and definitely worth looking into. I've never seen this setting before, but if that's really the case, then it would save us a lot of effort.

My idea originally was to integrate the sonar-scala-extra plugin and set up two additional quality profiles - standalone Scapegoat and Scalastyle + Scapegoat for those who would like to use rules from both. I'm not sure if that would be p

[2018-02-20 20:59] mwz commented on #2
Implemented in https://github.com/mwz/sonar-scala/pull/17.

[2018-02-20 20:59] #2 closed

[2018-02-20 22:39] BalmungSan opened #21 "Remove all scapegoat errors"
see discussion in #19

[2018-02-21 00:52] BalmungSan commented on #21
Hi @mwz

The object com.sagacify.sonar.scala.Measures defines some methods whose names do not conform to the scalastyele convention (_E.g. "count_classes"_), which is triggering the **com.sksamuel.scapegoat.inspections.naming.MethodNames** warning (_info_).
I suspect that those names  can not be changed because sonar call them by reflection. That's only a theory I have, I haven't checked.

So I wa

[2018-02-21 01:05] mwz commented on #21
Those functions are called from [`ScalaSensor.scala`](https://github.com/mwz/sonar-scala/blob/master/src/main/scala/com/sagacify/sonar/scala/ScalaSensor.scala) and yes we should definitely update them to conform to the naming conventions.

[2018-02-21 01:18] BalmungSan commented on #21
Roger, I will update them tomorrow.

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Michael Wizner <notifications@github.com>
Sent: Tuesday, February 20, 2018 8:05:59 PM
To: mwz/sonar-scala
Cc: Luis Miguel Mejía Suárez; Author
Subject: Re: [mwz/sonar-scala] Remove all scapegoat errors (#21)

Those functions are called from ScalaSensor.scala<https://gith

[2018-02-21 13:39] BalmungSan commented on #16
The scalastyle/scalastyle#299 PR has been merged and thus the scalastyle/scalastyle#298 Issue has been closed, for now we just have to wait for a new release of scalastyle to close this Issue.

[2018-02-21 14:31] mwz commented on #16
Awesome, I've got Scalastyle on my watchlist, so I'll be happy to make a release as soon as a new version comes out.

[2018-02-21 20:39] BalmungSan opened #23 "Refactor the class DirOrFile"
The **DirOrFile** class located in the [_XmlScoverageReportConstructingParser.scala_](https://github.com/mwz/sonar-scala/blob/master/src/main/scala/com/buransky/plugins/scoverage/xml/XmlScoverageReportConstructingParser.scala) file should be refactored to either be fully immutable or not being a case class.

Also the class has the following associated warning: "The outer reference in this type tes

[2018-02-21 23:47] mwz commented on #23
Yes, I have noticed that the scoverage plugin abuses mutable state in various places - we should definitely refactor this.

[2018-02-22 21:44] mwz opened #24 "Consider using scala-java8-compat"
Including https://github.com/scala/scala-java8-compat as a dependency would make our life a bit easier in the future when dealing with Scala <-> Java conversions.

[2018-02-22 22:29] #21 closed

[2018-02-23 17:36] BalmungSan opened #25 "Fix all scalastyle errors"
See [this](https://sonar.sonar-scala.com/issues?resolved=false)

The idea is to address all those errors, or at least the majority of them.
For the moment I will wait until @mwz update the sonar rules and scan the project again, so we can work on the real set of errors.
Also I suppose you will add the sonar scanner as a step in the PR CI pipeline, so we can track our progress as we push commits.

[2018-02-23 18:56] BalmungSan opened #26 "Add Artima SuperSafe plugin"
We should add the Artima SuperSafe scala compiler, to ensure the tests written with ScalaTest are completely typesafe.

For reference see [this](http://www.scalatest.org/supersafe)

[2018-02-24 23:45] mwz opened #27 "Add sonar-scanner step to CI pipeline"

[2018-02-25 19:28] mwz opened #28 "Execute Sonar analysis for PRs"
Due to [security implications](https://circleci.com/docs/1.0/fork-pr-builds) with passing secrets to builds from forked pull requests in CircleCI, we'll need a different mechanism to execute sonar-scanner for PRs.

[2018-02-25 19:32] mwz commented on #27
Implemented in e762755fa6fe5543b1ae886ee54735f4a90f90ff, 26770e51a5d802f3be86827d3eaaa2dfc816bd5d, 5196f7138be1005d1308376e1451d8b4883b5305.
I've opened another issue to set up analysis for PRs from forks #28.

[2018-02-25 19:32] #27 closed

[2018-02-25 22:49] mwz opened #29 "Improve test coverage!"

[2018-03-01 17:56] QADEvops1 opened #31 "SonarQube crashes"
Hello,
I downloaded the latest .jar and added it to the extensions/plugins folder. When I restarted the SonarQube it fails to load.

Please help.

SonarQube version -  6.7.1 (build 35068)

when this .jar is removed from extensions/plugins folder, Sonar works fine.

[2018-03-01 18:42] BalmungSan commented on #31
Hello @QADEvops1
Could you paste the output from the logs/sonar.log file ?

[2018-03-01 21:33] mwz commented on #31
Yes, I'm afraid that without seeing the logs we won't be able to help you much.

[2018-03-01 21:34] QADEvops1 commented on #31
Hi,
Please see the log below... Hope this helps.

Wrapper Started as Daemon
Launching a JVM...
Wrapper (Version 3.2.3) http://wrapper.tanukisoftware.org
  Copyright 1999-2006 Tanuki Software, Inc.  All Rights Reserved.

2018.03.01 12:28:03 INFO  app[][o.s.a.AppFileSystem] Cleaning or creating temp directory /opt/sonar/temp
2018.03.01 12:28:04 INFO  app[][o.s.a.es.EsSettings] Elasticsearch listenin

[2018-03-01 21:45] BalmungSan commented on #31
Uhm...

This is very very strange; it is saying that the es process (Elasticsearch) exited abruptly, and that’s the reason why sonar is crashing. But the point is that this plugins should not affect Elasticsearch in any way…

But this is the second time the same problem is happening, see Sagacify/sonar-scala#24

So, we really need to look at this (@mwz )

Could you please paste the output of the _

[2018-03-02 13:38] QADEvops1 commented on #31
Hi,
The following actions resolved it:
1. Increased the vm.max_map_count to 262144 (based on Sonarqube docs)
2. Increased the open file limit for sonar user to 65536 (this message appeared after restart with first change)
3. Increased the memlock limit for sonar user to unlimited (Sonarqube docs recommendation)
4. Removed the scoverage plugin based on this message after restart with second and thi

[2018-03-02 13:53] BalmungSan commented on #31
Hello @QADEvops1,

I'm very happy to hear that you were able to solve the problem. 😄

But it still bothers me that the plugin is making **ES** fail sometimes, maybe the plugin is using ES and we don't know (_or at least I don't_)

In any case @mwz, I think You should add those steps in the **README**, maybe as minimal recommended setup, or as a common problem resolution section.

[2018-03-02 18:43] mwz commented on #31
It would be good to try to replicate this issue and have a look at the es logs.
@QADEvops1, would you be keen to make a contribution to the README and describe the setup recommended in the SonarQube docs?

[2018-03-02 21:43] tayloryork opened #32 "Scala Test Count is not reported"
Scalatest produces "junit xml" files describing the test class, test name, and duration of the test.  For a java project, Sonar will read this file and update the "Unit Test Count."  This plugin does not provide a way to read in these junit xml files.  Other sonar-scala plugins (https://github.com/RadoBuransky/sonar-scala/blob/master/src/main/java/org/sonar/plugins/scala/surefire/SurefireSensor.ja

[2018-03-02 21:57] QADEvops1 commented on #31
@mwz Not sure whether this issue is happening to everyone.  Also, Sonar setup varies based on the version.

[2018-03-03 23:11] mwz commented on #32
Hi @tayloryork, yes that's something that we're currently missing in sonar-scala and it's on a list of things I would like to support in this plugin.

Given that sbt generates JUnit XML test reports by default, this should be relatively easy to implement if we can use the sonar-java (surefire) plugin to do all of the hard work.

[2018-03-03 23:34] mwz commented on #31
I'm wondering whether the issue had nothing to do with the `with vm.max_map_count` and `fs.file-max` limits, but was actually caused by having the standalone scoverage plugin installed alongside sonar-scala...

[2018-03-08 06:25] Nyshu opened #33 "Issues with code duplication"
Is there some way to get code duplication also working???

[2018-03-08 12:31] mwz commented on #33
Hi @Nyshu, we currently don't support any code duplication metrics, but it's definitely on the list of features I'd like to support in this plugin. You can keep an eye on https://github.com/mwz/sonar-scala/issues/9 to track the progress.

[2018-03-08 12:31] #33 closed

[2018-03-08 13:40] Nyshu commented on #33
Thanks! otherwise we have been using the plugin.

[2018-03-13 00:01] #26 closed

[2018-03-23 14:05] BalmungSan opened #35 "Refactor the Scalastyle Plugin"
The idea is to do something similar as #34, in order to remove all SonarQube deprecations and thus finally closing #7.

The first thing to do, is to carefully review the code, in order to decide if we should adapt the actual code to the new sonar API, or if its cleaner and cheaper to rewrite the plugin almost from scratch.

This issue will serve as discussion space, for planning the refactor befor

[2018-03-23 14:14] BalmungSan commented on #8
By now I'm thinking the best option is to address #35 first, and that will give us confidence about what to do with this.
Probably the best thing will be to create another sensor (`com.mwz.sonar.scala.scapegoat.ScapegoatSensor`) using the new sonar API, latter we will discuss how the sensor will work.

[2018-03-23 14:17] BalmungSan opened #36 "Change the Scoverage report key"
As discussed in #34, we should add support for the new Key (`sonar.scala.scoverage.reportPath`) while maintaining the support for the old one (`sonar.scoverage.reportPath`) but adding a deprecation warning, and finally drop the support for the old one when addressing #11.

[2018-03-23 14:36] BalmungSan opened #37 "Adding Cats"
The [**Cats**](https://typelevel.org/cats/) library could helps to simplify some parts of our code and allow us to stay functional.

The point of this issue is to identify all places where **Cats** should be used, to raise a PR making all those changes at once.

[2018-03-23 14:46] BalmungSan commented on #11
I'm proposing the following road map for this:

1. Partially address #36 (meaning that we create the deprecation).
2. Then #35 followed by #8.
3. Parallel to step 2 discuss about #37.
4. Finally close #36 (meaning dropping support for the old key), and this simultaneously.

**Note:** Before closing this, the plugin should be tested in a real SonarQube 7 server and fixed any deprecation warning.

[2018-03-24 18:44] #23 closed

[2018-03-24 18:46] mwz commented on #18
Fixed in #34.

[2018-03-24 18:46] #18 closed

[2018-03-24 18:52] mwz commented on #14
Addressed in #34.

[2018-03-24 18:52] #14 closed

[2018-03-25 01:30] BalmungSan commented on #10
@mwz, what is this issue related to ?, maybe it was addressed in #34 too ?

[2018-03-25 01:43] mwz opened #40 "Coverage Github plugin"
The existing SonarQube [Github](https://docs.sonarqube.org/display/PLUG/GitHub+Plugin) plugin reports only on issues found in a pull request, but it doesn't report any coverage changes that were introduced by the new code.
It would be great to have some coverage feedback on opened PRs, similarly to the way how codecov integrates with Github, see an [example](https://github.com/typelevel/cats/pull/

[2018-03-25 23:55] mwz opened #41 "Update the samples"
It would be good to have examples for:
  - [x] sbt (single and multi-module) - #66, @mwz
  - [x] maven (single and multi-module) - #66, @mwz
  - [ ] maven mixed Scala/Java - #67, @mwz
  - [x] gradle (single and multi-module) - #62, @mwz

[2018-03-28 19:49] mwz opened #43 "Remove findbugs.jsr305 from dependencies"
I don't think [this](https://github.com/mwz/sonar-scala/blob/master/build.sbt#L38) dependency is used anywhere and we should remove it from the project.

[2018-04-03 21:12] mwz commented on #43
Closed by #45.

[2018-04-03 21:12] #43 closed

[2018-04-05 18:01] mwz commented on #10
Yes definitely - this issue was referring to to the scoverage tests which were commented out, so this was addressed in your reactor. Thanks for pointing this out.

[2018-04-05 18:02] #10 closed

[2018-04-08 22:44] mwz commented on #36
We should also update README to reflect the new property name.

[2018-04-08 23:25] BalmungSan commented on #36
@mwz, would you update the README, or do you want me to do it ?, if so I will raise a PR tomorrow.

[2018-04-08 23:37] mwz commented on #36
Sure if you have the time that would be great, otherwise I'm happy to update the README myself.

[2018-04-09 00:07] BalmungSan commented on #36
I think it's better if you do it, for two reasons.
First you can push it directly to master, second your English is way better than mine, so i t would be cleaner.

[2018-04-09 20:34] BalmungSan commented on #8
After looking at the **SonarQube** documentation and the source code of the scapegoat plugin and the scalastyle plugin. I realized that to create the new `Scapegoat Plugin` we need to define two major components, a _rules repository_ and a _sensor_.

**Rules Repository**
This will be, probably, the most difficult part, we need to create a repository with all scapegoat rules.
Currently, the scapego

[2018-04-09 21:52] mwz commented on #8
Just a few thoughts on generating the rules while I have a minute and I'll probably have a think about the rest tomorrow.

It might be worth to investigate writing an sbt task which downloads the scapegoat jar and using the `java.util.jar` api collects the entries that we're interested in and filters out some of those rules which we whitelisted because e.g. some rules are not implemented yet like

[2018-04-09 22:38] BalmungSan commented on #8
Ok, I'll take a look a those links tomorrow.

[2018-04-10 21:17] BalmungSan commented on #8
I've playing a while with **scala-macros** and with the **FastClasspathScanner**, and my conclusion is that the easiest way to go is to create a custom **SBT** `task` which will use the **FastClasspathScanner** to get all sub-classes of the `Inspection abstract class` (you can see a little PoC [here](https://github.com/BalmungSan/fastpath-demo)), and use that information to generate scala code.

N

[2018-04-10 22:55] mwz commented on #8
That's nice @BalmungSan - FastClasspathScanner stuff looks promising!

Thanks for exploring some of the options. Having given this some thought, I'm totally pro automating the whole process, ideally, relying on the compilation as much as possible without having to run any manual sbt tasks and generating any source code which you then need to compile separately.

I think that scalameta might be jus

[2018-04-10 23:25] BalmungSan commented on #8
@mwz, well I was looking to macros to get the sub-classes of the inspection class, but I couldn't make a simple demo of that, so that’s why I ended proposing FastClasspathScanner.

Regarding the code generation, I was thinking that we could simple write the files using standard Scala/Java IO APIs and using interpolated strings to fill up a template with the information we extract from scapegoat, a

[2018-04-10 23:43] BalmungSan commented on #8
Just to clarify more what I had in mind, I'm thinking in something like this

[code]

And thats all, we would then import this file in the source code, we would iterate over the `AllScapegoatInspections List` to create the sonar repository. So that's why I think we don't need something as robust as scala-meta.

I'm open to discuss this _architectural_ decision.

[2018-04-11 19:41] QADEvops1 opened #49 "Adding a custom rule"
Hi,

I have added a custom rule.  Please see below.

![image](https://user-images.githubusercontent.com/36966485/38639256-9d520680-3d9e-11e8-9586-19ac6e454b05.png)

When I do the scan this rule is not working (I have hardcoded IP address in my code).  Can you please help.

[2018-04-11 21:07] BalmungSan commented on #49
Hello @QADEvops1, I think you need to activate the rule in the profile you're using to scan the project.
(Well I'm assuming that "not working" means that the rule was no used during the scan, if that is not the problem, could you provide an explanation of what went wrong)

[2018-04-11 21:11] QADEvops1 commented on #49
Hi,

The rule is activated.  Yes the rule was not used during scan.  It shows in
list of rules available in quality profile.

On Wed, Apr 11, 2018, 5:07 PM Luis Miguel Mejía Suárez <
notifications@github.com> wrote:

[2018-04-11 21:29] QADEvops1 commented on #49
Yes. Please see the screenshot in the 1st comment.

On Wed, Apr 11, 2018, 5:23 PM Luis Miguel Mejía Suárez <
notifications@github.com> wrote:

[2018-04-11 21:38] BalmungSan commented on #49
Just to validate that the problem is not in the regex, could you create another custom rule that checks for a simple pattern ?, something like `class` or `String`. So that the rule should be reported massively ?

If the problem persist I will try to reproduce and debug it.

[2018-04-11 22:28] mwz commented on #8
I see what you mean and perhaps that's the easiest and cleanest solution and as a plus, it avoids using macros - which is always good unless there is no other way and you absolutely have to use macros! :)

So in that case, if you're thinking about generating the sources using an sbt task we should definitely check this file into git once generated initially and we should make sure that we run this

[2018-04-11 22:42] BalmungSan commented on #49
Hello @QADEvops1, as mentioned in the previous comment, I worked for me.
Following are some screenshots showing it.

![image](https://user-images.githubusercontent.com/11336950/38646869-5c844bb6-3daf-11e8-9c08-c45801fe67f4.png)

![image](https://user-images.githubusercontent.com/11336950/38646950-a86805a4-3daf-11e8-85e5-462968ca6cd6.png)

So, now I'm wondering, why it didn't worked for you. 🤔
Coul

[2018-04-11 23:02] BalmungSan commented on #8
oh, yeah yeah, I just wanted to show a draft of the generated file, we should discuss with more detail what it should have. In any case I was thinking in a Map too, but by name, because we need to retrieve the index by name. But i was thinking in building that map in source code from the list in the generated file.

Maybe the blacklist idea would be useful, but we need to review it carefully, for

[2018-04-12 13:48] Trif3cta commented on #49
Hi BalmungSan -- thanks for your help so far.  I'm working with user QADevops1 to get this working and glad to see it can work.  Here is an excerpt from a file we're attempting to scan; as you'll see, this part is nonsensical but should be detected nevertheless:

Our installed plug-in version is 6.0.0.

[code]

[2018-04-12 15:38] BalmungSan commented on #49
Hello @Trif3cta, I'll take a look in a couple of hours.

Just a few questions:

+ The second `def LocalHost` is empty, that was a typing mistake ?, because there you have a **syntax error**

+ Which ones are being detected and which ones don't ?, or any of them are working ?

[2018-04-12 15:58] Trif3cta commented on #49
Hi -- correct, the file will not compile because those "keywords" just typed into the file like TCP and localhost were created for other rules just looking for that text, which is separate from the IP rule -- so none of the 3 rules work.  Maybe the file needs to be compile-able?

[2018-04-13 13:36] BalmungSan commented on #49
Hello @Trif3cta & @QADEvops1.
I want to apologize for the delay, but yesterday was a difficult day...

Anyways, I had just checked with your examples, and, as can see below, effectively they didn't work.
![image](https://user-images.githubusercontent.com/11336950/38737398-b0a384c8-3ef4-11e8-880f-0e9a4b70c46d.png)

Whereas the previous example is still working.
![image](https://user-images.githubus

[2018-04-13 13:47] Trif3cta commented on #49
Hi -- no worries, this was very helpful (also the -X), and it's likely to carry over into other language rule scanners -- that is, the code needs to compile without error.  We'll try on a different set of code and if there are any problems, we'll report back.  Thanks again.

[2018-04-13 19:02] mwz commented on #8
Let's see if there is anything that we need to blacklist from the current version of Scapegoat, but if there isn't then we can probably reduce the scope for now and come back to this and implement it when we actually need it.

+1 for generating the managed sources - that's probably a better way than I suggested because it automates the whole process.

Feel free to do this directly on a branch in t

[2018-04-13 19:29] mwz commented on #8
That's awesome, thanks!

Yeah, we can come up with a task list and I could add it to the description of this issue - that way we can keep track of the work.

[2018-04-13 23:30] mwz commented on #8
Hi @BalmungSan, I've slightly tweaked your list and added it to the description - please let me know if I missed anything.

I think that it would be good to provide a default Scapegoat quality profile, otherwise, the rules won't appear in Sonar as active which might make the initial set-up a bit more difficult for some of the inexperienced Sonar users.

Ideally, in addition to the default Scapegoa

[2018-04-14 01:11] BalmungSan commented on #8
Hi @mwz, everything looks perfect to me.
I suppose you're including the testing process in the release step.

[2018-04-15 20:55] mwz commented on #8
Yes, unit tests and manual e2e tests obviously go without saying :)

[2018-04-17 18:06] BalmungSan commented on #8
Hello @mwz, I'm pleased to announce that the [_PoC_](https://github.com/BalmungSan/fastpath-demo) was a completely **Success*.

Now, before proceeding to implement the generation task in this project, and making the respective PR, I would like to discuss some things related to the implementation.

1. I should add the task dependencies (Scapegoat and fast-classpath-scanner) in the `project/plugins.

[2018-04-17 21:30] mwz commented on #8
That's great news @BalmungSan!

Both of those are library dependencies, so `project/build.sbt` is probably a much better place than `project/plugins.sbt`.

I'd definitely extract your task definition to a separate file, preferebly containing `Scapegoat` in the name so we know it's related to Scapegoat.

Yeah, that sounds good 👍

I think the structure which you suggested previously works fine, alth

[2018-04-17 21:36] BalmungSan commented on #8
Oh yes, I forgot that little detail 👍

I'll make the PR in the next few hours.

[2018-04-20 12:50] coltrey opened #51 "Filename mismatch in scoverage.xml vs. what ScoverageSensor.getModuleSourceFiles() returns"
In my project, ScoverageSensor.getModuleSourceFiles() includes "src/main/scala" and filename attributes in scoverage.xml do not.  This means that ScoverageSensor reports that there is no coverage information for all files.

Is there a configuration I'm missing to strip or add this part of the path from the reporting?

I'm running through maven with the sonar maven plugin.

[2018-04-20 15:02] BalmungSan commented on #51
Hello @coltrey, the plugin should add a **prefix** to all files in the report automatically (as you can see [here](https://github.com/mwz/sonar-scala/blob/ec6915781d1de19f37a7d73162463ef654cc9e62/src/main/scala/com/mwz/sonar/scala/scoverage/ScoverageReportParser.scala#L34)), this prefix comes from the `sonar.sources` property (as you can see [here](https://github.com/mwz/sonar-scala/blob/ec6915781

[2018-04-20 15:12] coltrey commented on #51
@BalmungSan , thank you for the help.

I think the adding of the prefix is the problem.  The filenames in scoverage.xml are like this:
`				<class
                name="com.coltrey.SomeClass" filename="com/coltrey/SomeClass.scala" statement-count="120" statements-invoked="61" statement-rate="50.83" branch-rate="100.00">
`

I get error output like [https://github.com/mwz/sonar-scala/blob/ec6915781d

[2018-04-20 15:29] BalmungSan commented on #51
The filename value comes from sonar (we don't create or modify it), and as you see, it comes with the prefix _"src/main/scala/"_, the map is the one we create, and the values in the map are the ones that have the prefix we add. And we add them precisely because sonar return the fienames with that prefix.

So, the problem here is that you're getting an empty prefix during the scan... that's very we

[2018-04-20 15:38] coltrey commented on #51
I see what you're saying... We are setting sonar.sources:
`		<sonar.sources>src/main/scala,src/main/java</sonar.sources>
`

[2018-04-20 15:45] BalmungSan commented on #51
Uhm... probably it is failing because the property had more than one value.
I'll test it, and if that is the real cause of the bug, we should start looking for a fix.

[2018-04-20 16:15] coltrey commented on #51
Our developer tried with just 'src/main/scala' specified in sonar.sources and received the same errors.
`The file: 'src/main/scala/com/coltrey/SomeClass.scala', has no scoverage information associated to it.`

[2018-04-20 16:27] coltrey commented on #51
All files and they are in the scoverage.xml

We also tried with "src/main/scala/" to see if the path separator mattered and it did not work either.

[2018-04-20 16:38] BalmungSan commented on #51
Ok, for now I had no idea what is going on.
I need a sample repo or something to reproduce and debug the problem by myself.

Probably only the relevant parts of the `pom.xml` file, and the `sonar-project.properties` file (if any).

[2018-04-20 18:38] BalmungSan commented on #51
Without modifying the code not really, but if you can, you could just add the following line in the **ScoverageSensor.scala** file

[code]
Then execute the following command to generate the new JAR.

[code]
And finally replace the old plugin JAR with this one.

**Note:** @mwz we probably should add something similar but in debug level instead, what do you think?

[2018-04-20 19:34] BalmungSan commented on #51
😲
Ok, this is getting weirder every time.
I had no idea why the Map would have full paths.
I really need something to debug.

[2018-04-20 19:35] coltrey commented on #51
I'll see if I can get this down to a hello-world type repo for you.  It will probably be Monday at the earliest.

[2018-04-22 00:00] mwz commented on #51
Hi @coltrey and thanks for reporting this issue.
To be honest, maven has never been our focus for sonar-scala, but it looks like we should be able to fix this relatively easily and get you going with the plugin.
If you are able to share with us a sample project so we could replicate this issue that would be great 👍

[2018-04-23 13:26] coltrey commented on #51
@BalmungSan @mwz [https://github.com/coltrey/sonar-scala-scantest](This repo) shows the same coverage not found error for me.

[2018-04-23 13:58] mwz commented on #51
Excellent, thank you @coltrey - I should be able to have a look in the evening and hopefully we can get to the bottom of this and get this 🐛squashed!

[2018-04-23 14:08] BalmungSan commented on #51
Hi @coltrey & @mwz, I'll take a quick look right now. Let's see what I can find.

[2018-04-23 15:12] coltrey commented on #51
@BalmungSan Thank you.  Should be as easy as "mvn clean build sonar:sonar" after you set the sonar.login and sonar.host.url in pom.xml

`
		<sonar.login>SONAR_LOGIN_KEY</sonar.login>
		<sonar.host.url>SONAR_URL</sonar.host.url>
`

[2018-04-23 15:25] BalmungSan commented on #51
Hello @coltrey, Yes. I already take a look at it and I found that the mvn plugin makes the `sonar.sources` property full path, that's why it is failing.

For now I have no idea how to overcome this bug, so I will wait if @mwz finds something else.

But a temporary workaround to problem while we fix it, would be to use the _sonar-scanner_ shell utility, instead of the maven plugin.

[2018-04-23 15:52] coltrey commented on #51
I'll start testing with sonar-scanner during our CI process as a workaround.  Since this is a hybrid java/scala project, I'm not sure how that will complicate things for me.

Aside from a configuration toggle, there's probably not a way for the maven plugin maintainers to change behavior that without breaking compatibility.

As for this project,

- If you can detect that the scan is running from i

[2018-04-23 23:34] mwz commented on #51
Relativization of the absolute path should be just enough to handle the way maven plugin populates the `sonar.sources` property and I have a working fix for that, but before I open a PR I want to test sbt projects using sonar-scanner and multi-module projects to make sure we don't introduce more issues, so bear with me on that.

While we're at it, I think, we can also address the other issue relat

[2018-04-24 00:18] coltrey commented on #51
@mwz do you think your fix for relativation will solve the windows pathing as well?

[2018-04-25 06:44] mwz commented on #51
It should in theory, however, I don't use Windows so it might be difficult for me to test this.

It's easy enough these days to run things in docker containers, even on [Windows](https://www.docker.com/docker-windows-server) (see https://hub.docker.com/_/sonarqube, https://github.com/mwz/sonar-scala-docker), so we've not really been making any extra effort to make sure things work on Windows.

[2018-04-28 16:14] mwz opened #53 "Use the semantic versioning scheme when parsing Scala version"
Currently, the way the Scoverage sensor parses Scala version in `ScoverageSensorInternal.getDefaultScoverageReportPath`requires the major, minor, and the patch versions to be present and it will fail in cases where either the user doesn't specify a patch version or, for some reasons, the patch version includes more than one identifier (subversions), which is allowed by semver e.g. `2.12`, `2.12.0-

[2018-04-28 22:14] mwz commented on #36
I've updated README with the new property name and added a deprecation note in the [6.2.0](https://github.com/mwz/sonar-scala/releases/tag/v6.2.0) release notes.

[2018-04-28 22:14] #36 closed

[2018-04-28 22:44] coltrey commented on #51
I'll test windows Monday morning and have our dev test after that.  Thank you.

[2018-04-30 13:36] mwz commented on #51
@coltrey, would you mind checking for me if the paths in your scoverage report use `\` or `/`?

[2018-04-30 13:39] coltrey commented on #51
They are backslashes.
[code]

[2018-04-30 13:54] mwz commented on #51
Perhaps you should try setting your `sonar.sources` property to `src\main\scala` instead of `src/main/scala`?

[2018-04-30 15:03] coltrey commented on #51
Wouldn't that then break the unix side?

[2018-04-30 16:32] mwz commented on #51
Well, I think that the `sonar.sources` path needs to be specific to the OS which you use to scan your project and generate a scoverage report. Since the paths in your scoverage report have backslashes, you probably should be consistent and use `\` in your `sonar.sources` too.

[2018-04-30 16:52] coltrey commented on #51
FYI: one of our devs tested this build on his Mac and it worked great.  Thank you for looking into it and for the quick fix.  I'm happy to close this issue now, because the windows vs. unix pathing isn't very important to me.

That said, setting sonar.sources to `src\main\scala` produces the same output.  I don't think that's a very good fix anyway - asking people who work in heterogenous dev envi

[2018-05-01 13:14] #51 closed

[2018-05-04 11:49] mrt181 opened #55 "ERROR - Got exception message from Scalastyle"
Hi, we are using sonar-scala with our SonarQube server and TeamCity build server.

In TeamCity we have a build step which runs SonarQube checks.

We get an error in ScalaSensor for ScalaStyle checks:
`[11:06:58][Step 4/4] 10:06:59.518 ERROR - Got exception message from Scalastyle. Check you have valid parameters configured for all rules. Exception message was: illegal start of simple expression: T

[2018-05-04 13:11] BalmungSan commented on #55
Hello @mrt181

I had a similar error a while ago, and sadly I couldn’t fix it.
What I found that time was that the original error comes from [**Scalariform**](https://github.com/scala-ide/scalariform/blob/master/scalariform/src/main/scala/scalariform/parser/ScalaParser.scala#L777) (which **Scalastyle** depends on) and it gets propagated until the [**ScalastyleSensor**](https://github.com/mwz/sonar

[2018-05-07 12:12] dmarkhas opened #56 "The file has no scoverage information associated with it."
We're using version 6.2.0 of the plugin, but when running the sonarqube task from Gradle it seems that it somehow fails to parse the scoverage.xml report, even though it finds it and loads it successfully.

These are the errors I am seeing:

[scoverage] Initializing the scoverage sensor.
[scoverage] Successfully loaded the scoverage report file: 'C:\Users\dmarkhas\IdeaProjects\sdk-base\build\repor

[2018-05-07 13:52] BalmungSan commented on #56
Hello @dmarkhas, could you run the plugin in [debug](https://docs.gradle.org/current/userguide/logging.html) mode and paste the output here?

But, probably the issue is due you're running on windows, and the **ScoverageSensor** does not support windows **_yet!_**.

_(@mwz, IMHO, we should focus on fixing the incompatibility with windows ASAP.)_

[2018-05-07 14:46] BalmungSan commented on #56
Uhm... yes, you're right. Could you try the following piece of code?

[code]

[2018-05-07 15:03] dmarkhas commented on #56
That doesn't compile for me.. I assume you're using java.nio.file.Paths? in that case the get method accepts either a String or a URI, while prefix is Path. I tried prefix.toURI and that didn't work..

[2018-05-07 15:18] BalmungSan commented on #56
Oh sorry I forgot that, you could use `prefix.toString`. This is just for making a quick test/fix. I will make PR for fixing this in a couple of days.

[2018-05-07 16:12] dmarkhas commented on #56
Unfortunately that didn't work. I think the underlying issue is that the filename in the scoverage.xml already contains the prefix "src/main/scala", making the prefix actually redundant.
In my case, simply checking if cwd.resolve(scoverageFilename) exists is sufficient, and then simply setting filename to be scoverageFilename works.

No changes would be needed if there was any way to remove this p

[2018-05-07 16:35] BalmungSan commented on #56
Yes, you're right.
I'm sorry, I'm a bit busy so I not taking the time to look at this properly thus I got confused 😞.

We're having a big problem here:
When using **SBT** the scoverage filenames are relative to _"src/main/scala"_.
When using **Gradle** they are relative to the _project root_.
When using **Maven**  they are _absolute path_.
Also they are dependent to the **SO** _('\' vs '/')_.

Uhm

[2018-05-07 16:38] dmarkhas commented on #56
I really appreciate your help :-)
In the meanwhile we can keep using my simplified forked version.

Perhaps checking if the scoverageFilename begins with the prefix and then stripping it out would work?

[2018-05-07 21:00] mwz commented on #56
Hi @dmarkhas, thanks for reporting the issue. It sounds like your suggestion to strip out the prefix from the filename should work, so it's worth giving it a try.

It's a shame that there are so many inconsistencies between different distributions of sonar scanners and scoverage plugins... this certainly doesn't make our life easier and it starts slowly to feel like we're doing cross-browser devel

[2018-05-07 21:02] #55 closed

[2018-05-07 21:55] #31 closed

[2018-05-10 18:11] mwz commented on #56
@dmarkhas, thanks for waiting and testing the latest changes in #57 - I'll make a new release as soon as #54 gets merged.

[2018-05-10 22:52] mwz commented on #53
Something that we missed in #54 is that the `tokenize` function is called for each file which results in the `sonar.scala.version` warning message being printed also for each file which is totally unnecessary and we should avoid that. A good idea would be to get Scala version once when the `ScalaSensor` is executed and we can then pass it down from there to the `tokenize` function.

See an example

[2018-05-11 18:15] #53 closed

[2018-05-12 13:35] mwz commented on #56
@dmarkhas - [6.3.0](https://github.com/mwz/sonar-scala/releases/tag/v6.3.0) is out. Feel free to let us know if you have any more issues.

[2018-05-12 18:34] BalmungSan commented on #8
Hello @mwz, sorry for taking too long. But, I finally finished my little investigation for addressing the second task (**_Scapegoat Rules Repository_**).
Following is a summary of what I found, and some questions I have about implementation details.

For adding the Scapegoat Rules Repository to the plugin we need to create a class that extends the [**RulesDefinition**](http://javadocs.sonarsource.

[2018-05-13 23:41] mwz commented on #8
Hi @BalmungSan, thanks for doing the research and capturing the outcome along with all of your questions. I hope that you don't mind if I add quick comments here while they are fresh in my head before I address your latest PR?

We should come up with a naming convention for both new versions of scalastyle and scapegoat rules which doesn't collide with the existing names, so maybe something like th

[2018-05-14 00:38] mwz opened #60 "Wartremover support"
It looks like [Wartremover](http://www.wartremover.org) doesn't generate any report which could be imported to SonarQube, therefore support for Wartremover might not be currently possible.

I raised the following issue to find out more about the support for report generation: https://github.com/wartremover/wartremover/issues/419.

[2018-05-14 00:46] BalmungSan commented on #8
Sure, no problem 👍

Yeah, absolutely! They provide a good scoping, and make it easier to search for an specific rule.

Oh ok, I thought you would prefer the opposite. But well, that was the idea of making questions instead of assumptions.

Yeah I totally agree that it should be done latter in a separate issue.

Ok, I will add a few more tests, latter when you review the PR you could give me more s

[2018-05-14 19:28] mwz commented on #56
Hi @freshka, thanks for letting us know that you're having issues.

Would you mind sharing with us some more details about your setup like e.g. which build tool you're using, how your multi-module project is structured, your full `sonar-project.properties` file and how you're executing the analysis?

Would you also be able to confirm that you've set the `sonar.scala.scoverage.reportPath` property

[2018-05-15 09:32] freshka commented on #56
Hi @mwz
I'm using Gradle with gradle-scoverage:2.3.0

Project structure example:
[code]

Analize execute by Jenkins (SonarQube Scanner v. 3.0.3.778) and scoverage reports not aggregated. Sonar-scala plugin cannot find files but properly read report as i said above:
_12:02:17.765 DEBUG: [scoverage] Saving the overall scoverage information about the module, the statement coverage is 97.56%._

_**son

[2018-05-15 11:39] BalmungSan commented on #56
Hello @freshka,

If the reports are not aggregated, that means there is one report per module, is that correct?

Also, could you please provide us one of the scoverage files? (If they contain sensitive information that you wouldn't like to share, we only need the `filename` **attribute** of one `class` **tag**)

[2018-05-15 13:03] freshka commented on #56
Hi @BalmungSan
Yes, one scoverage report per module, report located in a module directory (for example output-adapter/build/reports/scoverage/scoverage.xml)

`<class name="dummy.adapter.output.CepTicketProvider" filename="src/main/scala/dummy/adapter/output/CepTicketProvider.scala" statement-count="36" statements-invoked="36" statement-rate="100.00" branch-rate="100.00">`

**filename** is relative

[2018-05-16 20:52] BalmungSan commented on #41
I'm wondering if we could create test suites that could mock those environments. Especially for the Scoverage Plugin.

[2018-05-17 18:17] BalmungSan commented on #41
Absolutely, that would be great, and also that would force us to maintain the samples updated.

Just one question, If we, in a _(distant?)_ future, add support for Windows, there could be a way to test it in Circle too?

[2018-05-17 18:26] mwz commented on #41
No, CircleCI doesn't support Windows - we would probably need to use something like https://www.appveyor.com to run the build there in addition to Circle.

[2018-05-17 23:04] mwz commented on #56
Hi @freshka, @sinwe - apologies for the wait. I've merged a fix for your issues and am hoping to do a little bit more testing against any regressions, but you can expect a new release most likely sometime over the weekend.

[2018-05-18 07:54] sinwe commented on #56
@mwz I appreciate the effort you've put into it. I'll wait for the new release

[2018-05-18 13:45] BalmungSan opened #64 "Simplify the matching process between the filenames reported by Scoverage and the ones returned by the SonarQube Scanner"
[Here](https://github.com/mwz/sonar-scala/pull/63#discussion_r189096289) is a summary of the changes made to the process, changes that end up with a tricky process to make the match.
This issue will server as a place to discuss alternatives to change the actual process.

**Note:** This issue shouldn't be attempted to be addressed until #41 is done, this as a preventive measure to avoid introducing

[2018-05-18 13:53] BalmungSan opened #65 "Windows Support"
The plugin should work if an analysis is executed from a Windows machine.
For now the only blocker for this is the Scoverage module, more precisely the filename matching process. Reason why it would be better not try to address this until #64 is done.

**Note:** this is not as priority as other issues at the moment. _(e.g. #41, #64, #8)_.

[2018-05-22 21:04] #41 closed

[2018-05-27 17:32] mwz commented on #56
@sinwe, @freshka, just to let you know that [6.4.0](https://github.com/mwz/sonar-scala/releases/tag/v6.4.0) was released a couple of days ago and it should fix your Gradle issues with multi-module projects.

You can also find an example of a multi-module project built with Gradle [here](https://github.com/mwz/sonar-scala/tree/v6.4.0/examples/gradle/multi-module) and [here](https://sonar.sonar-scal

[2018-05-27 17:32] #56 closed

[2018-06-10 17:42] BalmungSan commented on #8
Hello @mwz, Continuing with **task 3  - _Scapegoat Quality Profile_**. After a brief research I can conclude it is a pretty simple and straightforward task.

We only need to create a class that extends the [**BuiltInQualityProfilesDefinition** _interface_](http://javadocs.sonarsource.org/6.7.4/apidocs/org/sonar/api/server/profile/BuiltInQualityProfilesDefinition.html) and override the `define` met

[2018-06-10 23:51] BalmungSan commented on #64
The following table summarize the differences between the `filenames` in the **Scoverage** report  with the ones returned by **SonarQube**.

<table>
  <tr>
    <td align="center"><b><i>filename</i><b></td>
    <td align="center"><b>sbt</b></td>
    <td align="center"><b>mvn</b></td>
    <td align="center"><b>gradle</b></td>
  </tr>
  <tr>
     <td><b>Scoverage</b></td>
     <td><i>packagePrefix <b

[2018-06-16 21:51] BalmungSan commented on #8
Hello @mwz, now for almost finishing this, I'll proceed with a first draft of the **Sensor**.
The idea is to have something working to review and test, later we can tune any detail before merging.

As already mentioned [here](https://github.com/mwz/sonar-scala/issues/8#issuecomment-379885414), the basic functioning of **Sensor** is somewhat simple.
However, there are some special cases that are wo

[2018-06-16 21:57] BalmungSan opened #70 "Add Scala Syntax Highlight"
Probably don't add too much value _(therefore not so priority)_. But is somewhat sad not having it.

By looking at [this](http://javadocs.sonarsource.org/6.7.4/apidocs/org/sonar/api/batch/sensor/highlighting/NewHighlighting.html). It seems that is not so difficult to add it, and probably [scalariform](https://github.com/scala-ide/scalariform) already does all the hard work for us.

[2018-06-17 14:39] BalmungSan commented on #8
By the way, while implementing the Scapegoat **Sensor**, I found [this](http://javadocs.sonarsource.org/6.7.4/apidocs/org/sonar/api/batch/sensor/SensorDescriptor.html#onlyWhenConfiguration-java.util.function.Predicate-). This may be simplest way to add a runtime _feature flag_ to the modules of the plugin.
The bad news are that it only works for **Sensors**, thus the **Rules Repositories** and **Q

[2018-06-17 22:33] mwz commented on #70
Yes, that's a good idea! 👍

[2018-06-17 23:08] mwz commented on #8
Hi @BalmungSan,
Thanks, I really appreciate you looking into this. I've not had much spare time recently, but hopefully I should find some more time soon to contribute a bit more.

Maybe we should log a warning only for those rules which don't exist in the profile? This would be a good indication that either the user needs to upgrade sonar-scala or we need to update to the latest version of Scapeg

[2018-06-17 23:41] BalmungSan commented on #8
Hi @mwz,

I think the main difference in our opinions is what we're considering the source of trust, for you its SonarQube and for me is the Scapegoat report.

To be honest, I have mixed feelings about this. If the user wants to configure everything in sonar and just import a plain report, the best is to do what you're proposing.
But since the scapegoat scalac plugin can be configured to exclude a

[2018-06-21 18:12] mwz commented on #8
You make a valid point and it's definitely worth having a think about how we want to handle this.

I personally think there are more pros than cons of treating the Sonar rules as a source of truth for rule severity, but I'd be interested to hear your thoughts on this and why you think that using a report will work better for you.

In my opinion overriding the severity of Sonar rules with what is i

[2018-06-22 00:16] BalmungSan commented on #8
Well, the main reason I though about it was that from a _"devops"_ perspective, you should have all your configurations in _"code"_. Thus the UI is not best place for defining the parameters of the rules.

But I agree that it is easier and, probably, better to configure those rules in sonar instead of in the build config. Especially, because, it is inconsistent with the current scapegoat plugins a

[2018-06-22 16:38] BalmungSan opened #72 "Refactor the Cake pattern"
At this moment the [**ScoverageSensor**](https://github.com/mwz/sonar-scala/blob/master/src/main/scala/com/mwz/sonar/scala/scoverage/ScoverageSensor.scala), and the [**ScapegoatSensor**](https://github.com/mwz/sonar-scala/blob/master/src/main/scala/com/mwz/sonar/scala/scapegoat/ScapegoatSensor.scala) use the _infamous_ 🍰 pattern to be able to mock their respective report parsers in their tests.

N

[2018-06-22 17:31] dwlocks opened #74 "Releases does not include built artifact"
The README.md states there should be an artifact on the github releases page.  There is not.

So either the README.md is out of date, or the CI system is not correctly uploading all your files.

(I opened a pull request giving basic build instructions in case you don't want to provide downloadable jars)

[2018-06-23 09:40] mwz commented on #74
Hi @dwlocks, the artifacts are hosted on Bintray and you can download them by wither clicking on the version badge or going to the releases page - there is a link to the artifact at the bottom of each release note:

![badge](https://user-images.githubusercontent.com/1190768/41808180-b872205a-76d1-11e8-924d-c82337217f4f.png)

![release-notes](https://user-images.githubusercontent.com/1190768/418081

[2018-06-23 09:40] #74 closed

[2018-06-23 22:15] BalmungSan commented on #72
Fixed in #75

[2018-06-23 22:15] #72 closed

[2018-06-25 15:34] cleverdeveloper commented on #64
I am using `sbt-sonar 1.3.0` and I have `sonar-scala 6.4.0` installed on SonarQube.

I run `sonarScan` after I run scoverage. I get the large list of the following errors:
[code]

Any advice?

[2018-06-25 15:56] mwz commented on #64
Hi @cleverdeveloper, are those files that you get warnings for actually covered by unit tests?

[2018-06-25 19:28] bdarmawan commented on #64
+1.  I have the same issue as mentioned by @cleverdeveloper

[2018-06-25 20:53] mwz commented on #64
Thanks @bdarmawan and @cleverdeveloper for bringing this up.

This warning gets logged when there is no coverage data for this particular file in the scoverage report - I think in such case we should just default it to 0% for this file and save it.

In fact, we have one old file in sonar-scala itself which isn't covered by any unit tests, which results in the coverage being reported as blank, see:

[2018-06-25 22:28] bdarmawan commented on #64
Hi @mwz,

In my case, the test should've been covered by unit test.  In fact, site/index.htnl shows the coverage though.  Note: I am using mvn on Windows (not sbt).  Thanks.

[2018-06-25 22:59] BalmungSan commented on #64
Hi @bdarmawan, at the moment this plugin does not support windows. See #65.

[2018-06-25 23:43] bdarmawan commented on #64
Hi @BalmungSan,

Thanks for letting me know.   BTW, when are u planning to fix/support windows?  Thanks.

[2018-06-26 10:39] cleverdeveloper commented on #64
@mwz Yes, these are covered and the coverage data is present in `target/scala-2.12/scoverage-report/scoverage.xml` file. I can see the percents etc., and I can see the coverage in HTML report.

The only suspicion I have is that `<class>` tag says `filename="my/package/name/MyClass.scala"` while the warning above says `src/main/scala/my/package/name/MyCass.scala` instead, i.e. the `src/main/scala`

[2018-06-26 10:49] mwz commented on #64
@cleverdeveloper, are you also scanning the project on Windows?

[2018-06-26 10:51] cleverdeveloper commented on #64
@mwz  I could reproduce it 100% with the following project:
https://github.com/mwz/sonar-scala/tree/master/examples/sbt/single-module

This is what it says exactly:
[code]

This is how `scoverage.xml` file looks:
[code]

[2018-06-26 10:51] cleverdeveloper commented on #64
I am using Linux.

[2018-06-26 10:56] cleverdeveloper commented on #64
Wow! I found the root cause.

The problem was that I was running `sonar-scanner` from a directory created by symbolic linking, i.e. `ln -s /mnt/ssd/work /home/myuser/`. As soon as I did the same from the working directory directly, it worked out.

Now it says the following instead:
[code]

[2018-06-26 18:30] BalmungSan commented on #64
@cleverdeveloper I'm glad to hear it worked fine. I have no idea why it fails in a symlink 🤔

@bdarmawan, first of all, sorry for taking to long to answering.
I'll not promise anything yet, but I will give it a look to this in the following months.

By the way, @mwz
I believe we should document in the **README** that the plugin doesn't work when the analysis is executed from Windows.
Also, do you

[2018-06-28 18:05] mwz commented on #64
Regarding Windows support, it's not high on my priority list as most of the servers run Linux anyway, but if you really want to stick with Windows it's easy enough to run your CI/CD or an automation server in Docker containers, so no I don't have any immediate plans to make things work on Windows, but it sounds like @BalmungSan is quite keen to make this happen 😄

Yes, that's a good idea - I'll up

[2018-07-01 18:52] BalmungSan commented on #8
Hi @mwz,
We're only missing the documentation, examples & release.
I'll leave it up to you :+1:.

If you need some help with something, have any problem or want to discuss something else before releasing don't hesitate in writing me here.

[2018-07-01 20:05] mwz commented on #8
That's great, thanks @BalmungSan for doing all of the work by yourself!
I'd like to implement the feature flag and the quality profiles before we release the whole thing - I'll be raising some PRs with those changes soon, so stay tuned 😄

[2018-07-04 22:48] BalmungSan commented on #70
Hi @mwz, I was giving a look to this hoping it was trivial to implement. But, sadly, I encountered with a big problem.
As you can see [here](http://javadocs.sonarsource.org/6.7.4/apidocs/org/sonar/api/batch/sensor/highlighting/NewHighlighting.html), in order to register a new highlight in a file, you need the start and end position of the token _(in terms of lines and columns)_.

However, the [**s

[2018-07-06 07:05] mwz commented on #8
Hi @BalmungSan, I've been looking into the "Scalastyle + Scapegoat" quality profile and I haven't given this too much thought yet, but I don't think we should use XML for configuring our recommended profile - as you said it's too error prone and adds unnecessary loading/parsing steps - we should aim to have the config managed in the code.

There are two different approaches we could take for deter

[2018-07-06 11:35] BalmungSan commented on #8
Hi, @mwz
I agree we should release the scapegoat module as it is right now. We should add documentation to the README and update the examples with Scapegoat.

Additionally, since I'm blocked with #70, I'll take a look on how to refractor the Scalastyle module in few days. (#35).

[2018-07-06 12:02] mwz commented on #70
I think that the offsets together with newline tokens should allow you to determine the position/range of the highlights. You might have to go through the list of tokens one by one and potentially keep track of some state like e.g. line number and column as you traverse the tokens.

[2018-07-06 12:06] mwz commented on #8
I'll release it over the weekend 👍

@BalmungSan, since I already started looking into Scalastyle, it probably doesn't make sense for us both trying to work on the same thing unless you really want to pick it up? 😄

[2018-07-06 14:52] BalmungSan commented on #70
Hi, I though that too, the problem is that multi-line comments absorb all new-line tokens, thus we will end with the wrong linenum.

**Example**
[code]

[2018-07-06 15:00] BalmungSan commented on #8
Oh, sorry, I read wrong and did not realize you were going to look into it.

I would really like to refactor all the scalastyle module at once _(probably in a couple of consequent PRs)_. If you want we can have a discussion about it in #35 :+1:

[2018-07-08 16:03] mwz commented on #70
I think it is still possible to do this, you just need to handle the EOL characters yourself, which makes it a little bit more work...

![](https://media.giphy.com/media/FRfhS8hv0U0Te/giphy.gif)

I've come up with this naive implementation - it probably doesn't cover some edge cases and XML tokens, but it looks like it works for this simple example and should give you a rough idea about what I mea

[2018-07-08 21:49] mwz opened #78 "Create a project microsite"
It would be good to have a microsite with detailed instructions on how to set everything up, how to use and configure the plugin, how to set up quality profiles with sonar-scala rules etc.

[2018-07-08 22:03] mwz opened #79 "Set up "Scalastyle + Scapegoat" quality profile"

[2018-07-08 22:04] mwz opened #80 "Set up sonar-scala recommended quality profile"
Here is a list of Scapegoat and Scalastyle rules that we disabled or changed the severity for in the public SonarQube [instance](https://sonar.sonar-scala.com/coding_rules#activation=true|qprofile=AWGxRb3wcfvDQuD_lsPk|languages=scala), so we could use it as a reference.

disabled:
- `common-scala:InsufficientCommentDensity` - Source files should have a sufficient density of comment lines
- `scapeg

[2018-07-08 22:07] mwz commented on #8
I extracted the additional quality profiles into separate issues: #79 and #80.

[2018-07-08 22:38] BalmungSan commented on #35
Well, the time to tackle this has come.

IMHO, I see no value in only refactoring the rules repository, and I think we should refactor the entire module at once. Of course doing a big one PR to change all it's not a good idea _(we learned that from the **Scoverage** refactor)_, so we probably will do something similar of what we did for **Scapegoat**, tackling this part by part, without removing t

[2018-07-08 22:39] BalmungSan opened #81 "Scoverage feature flag"

[2018-07-08 22:46] mwz commented on #81
Ah yes, that's a good idea.

[2018-07-08 23:00] mwz opened #82 "Add Scapegoat to example projects"
This probably only applies to the sbt projects, although it might be possible to get it also working with Maven. I'm not sure if there is a way to run Scapegoat with Gradle projects.

[2018-07-08 23:07] mwz commented on #35
It looks like a good list to me!

[2018-07-08 23:15] BalmungSan commented on #82
Well the official Scapegoat repo provides [instructions for integration with maven](https://github.com/sksamuel/scapegoat#maven).

Regarding gradle, I have no idea, but I found [this](https://gist.github.com/fomkin/9eeae63f4750da8443e86a643803cba7), a gist for configuring a compiler module in gradle.
And [this](http://central.maven.org/maven2/io/jenner/gradle-scapegoat/0.90.0/), an old _(and proba

[2018-07-09 20:00] h-ngo opened #83 "Equivalent of SonarJava's "@Deprecated code should not be used" rule"
Is there an equivalent of SonarJava's ""deprecated code should not be used"?

We want it to show up in sonar as a violation, so developers will notice it. However, we can't seem to find a similar rule both in Scalastyle and Scapegoat.

Posted the same question to Scalastyle github, but it seems pretty inactive.

[2018-07-09 23:04] mwz commented on #83
Hi @h-ngo, unfortunately, I haven't seen any rules related to detecting the use of deprecated code, except for the [`DeprecatedJavaChecker`](http://www.scalastyle.org/rules-1.0.0.html#org_scalastyle_scalariform_DeprecatedJavaChecker), which flags it up as a warning when you use the `java.lang.Deprecated` annotation yourself, but I don't think that there is one for Scala's `@deprecated` annotation.

[2018-07-09 23:16] mwz commented on #35
I don't think that we'll need to use the `fast-classpath-scanner` for Scalastyle, because everything we need is actually located in the xml config files in the resources [here](https://github.com/scalastyle/scalastyle/tree/master/src/main/resources).

[2018-07-09 23:46] #8 closed

[2018-07-10 01:53] BalmungSan commented on #35
Oh that's cool 🎉

[2018-07-11 17:55] h-ngo commented on #83
Thank you for quick reply.

We use gradle instead of sbt. Scapegoat's integration with gradle is an open issue, and this plugin requires Scapegoat to be set up in the projects to generate the xml report. Looks like Scapegoat may not be the way to go. At least not in near future.

Wonder if you are aware of anyway to make Sonar to pick up deprecation warnings from scalac, and display them as violat

[2018-07-11 22:06] mwz opened #86 "Upgrade Scapegoat to 1.3.7"
https://github.com/sksamuel/scapegoat/releases/tag/v1.3.7

[2018-07-11 23:04] mwz opened #87 "Populate Scapegoat rules with description/explanation"
I appreciate that the description/explanation of Scapegoat inspections isn't present in the source code of Scapegoat, but it would be nice to find a way to add a brief description/justification of each Scapegoat rule, similarly to what Scalastyle does - perhaps we could contribute this back to Scapegoat...

I feel like some of the rules are just not clear enough to me and it takes a little bit of

[2018-07-12 15:25] QADEvops1 opened #88 "Sonar-scala for windows"
Hi,

Thanks for implementing Scapegoat.  According to the readme, it says it works only on Linux and Unix.

I have version 6.5.0.  Will this not work in windows?

[2018-07-12 16:47] mwz commented on #88
Yes, the analysis is most likely to fail when executed on a Windows machine, please see #65 for more info and feel free to continue the discussion there.

[2018-07-12 16:47] #88 closed

[2018-07-12 22:14] mwz opened #89 "Introduce some Scalastyle and Scapegoat issues to the example projects"
- [x] sbt (#90)
- [x] mvn (#170)
- [x] gradle? (might not be currently possible, see https://github.com/sksamuel/scapegoat/issues/195) (#168)

[2018-07-17 19:05] h-ngo opened #91 "Display the number of unit tests"
Is it true that this plug in doesn't display the number of unit tests?

We can't find it anywhere in the sample project: https://sonar.sonar-scala.com/dashboard?id=gradle-multi-module. Nor in our project.

This was how the overview page looked with the previous sonar scala plugin that we used
![image](https://user-images.githubusercontent.com/34242287/42839461-c9cc19ce-89d1-11e8-99ee-0aab7c61c246.

[2018-07-17 20:02] h-ngo commented on #91
nvm. Just noticed that this question was previously asked by another user, and it's currently on to-do list
https://github.com/mwz/sonar-scala/issues/32

[2018-07-17 20:02] #91 closed

[2018-07-17 21:06] mwz commented on #91
Hi @h-ngo - thanks for expressing your interest in this feature. It's not super high on my priority list, but yeah, we can definitely prioritise this over some other things as there seems to be some interest in this feature. Obviously, we would happily accept a PR if that's something you would be keen to contribute? 😄

[2018-07-27 16:20] bobotu opened #92 "The new built-in scapegoat sensor cannot work."
I have try to use the `sonar-scala v6.5.0` with `sbt-sonar v1.3.0` in a two module project.

config is
[code]

sadly, it raise an error in sonarScan
`ERROR: [scapegoat] Aborting the scapegoat sensor execution, cause: an error occurred while reading the scapegoat report file: 'target/scala-2.11/scapegoat-report/scapegoat.xml', the error was: target/scala-2.11/scapegoat-report/scapegoat.xml (No such

[2018-07-27 21:30] BalmungSan commented on #92
Hi @bobotu thanks for reporting, I'll give it a look the following week.

@mwz, I just noticed that the SBT multi-module example project, also only contains [scalastyle issues](https://sonar.sonar-scala.com/project/issues?id=example-sbt-multi-module&resolved=false), so probably it is because the scapegoat plugin failed. Do you have the logs of that run?

[2018-07-27 22:05] mwz commented on #92
Yes, I've noticed that @BalmungSan, but the [logs](https://circleci.com/gh/mwz/sonar-scala/292) only indicate that the scapegoat reports were loaded successfully for each module, but nothing was saved in Sonar for the multi-module sbt project as opposed to the single-module one, which saved the issues successfully...

[2018-07-28 21:39] mwz commented on #92
Hi @BalmungSan, this might or might not be related to the issue reported by @bobotu, but it appears that for multi-module projects the sensor loads the main report for each module since we're not passing a path to the report which is relative to the root of the project, but instead it's relative to the current module, which results in the report from the aggregate module being loaded every time.

[2018-07-31 09:06] josefarinna opened #93 "SonarQube crashes"
Hello,

This morning I just updated a plugin from the Market and after restart the sonar instance I'm not able to make it run again, I checked the logs and in the web.log there is a crash related with the scala plugin. other log files looks good. After removing the updated plugin, sonar is still failing, I removed sonar-scala and now it boots without issue. I'm running sonarqube on a Windows machi

[2018-07-31 22:01] mwz commented on #93
Hi @josefarinna, would you be able to share some more details with us, e.g. which plugin you updated from the Marketplace and, most importantly, which version of SonarQube you're running?

[2018-08-01 04:56] josefarinna commented on #93
I updated SonarCss from 1.0.0 to 1.0.1, but as I thought it could be the issue, I removed it completely, but still not working. I'm running SonarQube 7.2.1

[2018-08-01 08:35] mwz commented on #93
That's your issue then, sonar-scala currently supports only the 6.7 LTS series.

[2018-08-01 11:38] josefarinna commented on #93
It was working fine before updating that plugin, I guess I'll wait until the plugin oficially supports the current version.

Thanks!

[2018-08-08 13:34] EslamElHusseiny opened #94 "Releases URL doesn't have jars"
Hi,
releases URL in the README https://github.com/mwz/sonar-scala/releases doesn't have links to jars.
I found them in https://dl.bintray.com/mwz/maven/com/github/mwz/sonar-scala_2.12/ instead.

[2018-08-08 13:57] BalmungSan commented on #94
Duplicate of #74

[2018-08-08 14:05] #94 closed

[2018-08-08 14:05] EslamElHusseiny commented on #94
Thanks @BalmungSan

[2018-08-09 15:44] QADEvops1 opened #95 "Scapegoat issues are marked closed & fixed in sonarqube"
Hello,

I am using v6.5.0 of this plugin.  I am able to publish scapegoat reports to SonarQube.  The problem here is all issues reported by scapegoat are marked as fixed & closed in sonar.

[2018-08-09 15:57] QADEvops1 commented on #95
Someone ran the build without a scapegoat report.  Sorry for the confusion.

[2018-08-09 15:57] #95 closed

[2018-08-11 12:55] #93 closed

[2018-08-13 10:08] mwz commented on #92
Hi @bobotu, could you give [6.5.1](https://github.com/mwz/sonar-scala/releases/tag/v6.5.1) a try and see if that fixes your issue?

[2018-08-15 14:03] ablx opened #98 "Sonar 7 + Scapegoat"
Hi, do you have any plans to make this work with Sonar 7?

While the coverage works, scapegoat does not:
It cannot find files which are present

[code]

However, all of the files exist. Also note that the plugin creates wrong paths:

[code]

should be

[code]

[2018-08-15 14:37] mwz commented on #98
Hi @ablx, the 6.x series of sonar-scala targets SonarQube 6.7 LTS, but yes, I also have plans to support the latest version of SonarQube alongside the LTS (#11) - it's just a little bit lower on the priority list right now as we would like to do a couple of other bits and pieces to address the tech debt we inherited from the old project.

[2018-08-16 23:14] mwz opened #99 "Upgrade FastClasspathScanner (ClassGraph) to v4"
https://github.com/classgraph/classgraph/wiki/Porting-FastClasspathScanner-code-to-ClassGraph

[2018-08-18 19:06] mwz commented on #92
I'm going to close this due to lack of activity - please feel free to reopen it if you're still experiencing this issue with the latest release.

[2018-08-18 19:06] #92 closed

[2018-08-19 12:54] #86 closed

[2018-08-26 19:18] classgraph-robot opened #102 "FastClasspathScanner is outdated -- consider porting to ClassGraph"
Your project, `mwz/sonar-scala`, depends on the outdated library FastClasspathScanner in the following source files:

* [`project/ScapegoatInspectionsGenerator.scala`](https://github.com/mwz/sonar-scala/tree/master/project/ScapegoatInspectionsGenerator.scala)

FastClasspathScanner has been significantly reworked since the version your code depends upon:

* a significant number of bugs have been fi

[2018-08-26 21:47] mwz commented on #99
Duplicate of #102.

[2018-08-26 21:47] #99 closed

[2018-08-29 13:25] h-ngo opened #103 "Suppress warning syntax"
Hello. Does this plugin use a different syntax to suppress warning? we tried "// scalastyle:off <rule id>" and "// scalastyle:ignore <rule id>", but none seems to work.

[2018-08-29 14:35] mwz commented on #103
scalastyle:off/on and scalastyle:ignore should work just fine, we even have a few examples of using ignore in the source code https://github.com/mwz/sonar-scala/blob/1a117a82756c9d621d8747731f16b2cd7d255870/src/main/scala/com/mwz/sonar/scala/sensor/ScalaSensor.scala#L46.

Are you sure you're applying this to Scalastyle issues? Scapegoat has a different mechanism for disabling issues.

[2018-08-30 06:56] Rajshr opened #104 "Can findbugs support be incorporated in this plugin"
This plugin has support for Scalastyle and Scapegoat for static analysis.Any plan to include the support for Findbugs for scala

[2018-08-30 14:05] BalmungSan commented on #104
Hi @Rajshr, thanks for the suggestion.

I haven't used it, but I just gave it a quick look, and since the SBT plugin can generate reports in xml format, it should be straightforward to support it. However we still need to check how can we create a rules repository for it.

[2018-08-30 17:15] mwz commented on #104
I was under the impression that Findbugs is focused on Java and is not designed to analyse Scala code, therefore, most of the rules are inapplicable to Scala.

@Rajshr, do you have any examples of using it in a Scala project? Do you know if it contains any Scala specific rules? Are you interested in any particular rules that you would like this plugin to support?

[2018-08-31 07:37] Rajshr commented on #104
Thanks @BalmungSan and @mwz for your response.I was doing an analysis on SA tools suitable for scala language and publish the result to Sonarqube when I stumbled upon this great plugin.Just out of curiosity wanted to check if there is any specific reason for Scalasytle and Scapegoat tools being used in this plugin but after analysing a bit I got the idea that Findbugs is not that great tool for Sc

[2018-08-31 11:30] Rajshr opened #106 "Issue while pushing aggregated scoverage report to Sonarqube"
Hi @mwz ,

I am using ` sbt clean coverage test coverageReport coverageAggregate ` command  to get the combined report for all the multi-modules and then publish it to Sonarqube.I am able to get the aggregated report , but facing issue while pushing to Sonar.
Below is the snapshot of coverage in sonarqube.Is there any existing issue with the current plugin to publish the aggregated coverage report

[2018-08-31 12:16] mwz commented on #106
Hi @Rajshr, if you set it up correctly, `sonar-scanner` will publish the coverage report from each module individually instead of the aggregate report, so you should not be executing the `coverageAggregate` task.

[2018-08-31 12:32] Rajshr commented on #106
Hi @mwz ,

My current project structure is as following
module1
   -src/main/scala
   -target\scala-2.12\scoverage-report
module2
   -src/main/scala
   -target\scala-2.12\scoverage-report

So giving , report path as
` sonar.scala.scoverage.reportPath=target/scala-2.12/scoverage-report/scoverage.xml `  gives error as '` ` target/scala-2.12/scoverage-report/scoverage.xml (No such file or directory)

[2018-08-31 13:49] BalmungSan commented on #106
Hello @Rajshr

You need to [configure the Sonar Scanner for a multi-module project](https://docs.sonarqube.org/display/SCAN/Advanced+SonarQube+Scanner+Usages). You can find an example [here](https://github.com/mwz/sonar-scala/blob/master/examples/sbt/multi-module/sonar-project.properties).

Hope it helped.

[2018-08-31 15:49] mwz commented on #106
The easiest thing would be to just rely on the default report location, which is `target/scala-${sonar.scala.version}/scoverage-report/scoverage.xml`. If you set the `sonar.scala.version` property (e.g. to `2.12`) and leave the `sonar.scala.scoverage.reportPath` unset sonar-scala will use the default value for each of your submodules, which should work for you.

Thanks, that would be great - we're

[2018-08-31 18:27] Rajshr commented on #106
Thanks @mwz , I would try and update you on this.

On Fri, Aug 31, 2018, 9:19 PM Michael Wizner <notifications@github.com>
wrote:

[2018-09-02 14:51] mwz opened #107 "Unable to match file headers using regex"
The `HeaderMatchesChecker` Scalastyle rule doesn't currently allow to set the `regex` parameter to `true` since the parameter is missing in the config file, which is used to create the rules in SonarQube.

I've raised the issue in Scalastyle - https://github.com/scalastyle/scalastyle/issues/321.

[2018-09-03 14:48] Rajshr commented on #106
Hi @mwz ,

I tried the approach mentioned by you as
 ` sonar.scala.scoverage.reportPath=
  sonar.scala.version=2.12 ` but got below error ,

Sensor Scoverage Sensor [scala]
 [scoverage] Initializing the scoverage sensor.
 [scoverage] Loading the scoverage report file: 'target/scala-2.12/scoverage-report/scoverage.xml'.
ERROR - [scoverage] Aborting the scoverage sensor execution, cause: an error oc

[2018-09-03 15:33] BalmungSan commented on #106
Hello @Rajshr,

Did you setup the `sonar.modules` property?
The idea is that you don't have to setup the `sonar.scala.scoverage.reportPath` property for each module, but you still need to tell sonar which modules are there. This is more a sonar limitation than ours.

Or we could work on an alternative [Scoverage Sensor](https://github.com/mwz/sonar-scala/blob/master/src/main/scala/com/mwz/sonar/sc

[2018-09-03 16:39] BalmungSan commented on #106
Hi @Rajshr,

Any of them should work. Also, you don't have to leave the `sonar.scala.scoverage.reportPath` empty, just don't add it. For example:
sonar.scala.version=2.12
sonar.modules=module1, module2
Should be sufficient.

[2018-09-03 16:44] mwz commented on #106
Also if you're using [sbt-sonar](https://github.com/mwz/sbt-sonar), you don't even need to set the `sonar.scala.version` property as this is done automatically in the latest version.

[2018-09-03 16:48] BalmungSan commented on #106
Hey @mwz, I have an idea, but I don't know how difficult it can be, but could sbt-sonar generate the list of sonar modules automatically?

[2018-09-04 10:01] Rajshr commented on #106
Thanks @BalmungSan and @mwz for your response.
The sonar.modules didn't help as we have a 2 levels of hierarchy inside sub modules and since we have in house sonar plugin we can't use the sbt-sonar :(

Just one last thing , can we pass comma separated values in the report path as,
` sonar.scala.scoverage.reportPath=module1/target/scala-2.12/scoverage-report/scoverage.xml,module2/target/scala-2.12/

[2018-09-04 13:39] h-ngo commented on #103
Thanks. It works now. We messed up the rule id which we created from template.

[2018-09-04 13:39] #103 closed

[2018-09-04 14:25] BalmungSan commented on #106
Hi @Rajshr,

Uhm... that's a shame...
Well you could specify the `projectBaseDir` property of each module _([example](https://docs.sonarqube.org/display/SCAN/Advanced+SonarQube+Scanner+Usages))_, however that will be as tedious as the the first problem...

I can only think in two solutions:
+ Make an script to generate the `sonar.properties` file.
+ Or, as I said before, create an alternative **Sc

[2018-09-04 21:30] #104 closed

[2018-09-04 21:45] mwz commented on #83
@h-ngo, are you happy to close this since you raised the issue upstream?
Feel free to update this issue once you find a solution.

[2018-09-04 21:55] mwz commented on #106
As far as I'm aware if you define the `projectBaseDir`, all of your modules will inherit this property, so it's definitely worth giving that a try.

I'm not entirely sure if it's a good idea to have one sensor which runs on the aggregated report while the other sensors (e.g. Scapegoat) still need to run on individual modules to collect the issues. That might potentially be even more confusing for

[2018-09-04 22:36] BalmungSan commented on #106
Well, what I really mean with an alternative sensor, is one that is disabled by default. And when activated it should disable the module sensor.

Also we could make something similar for Scapegoat & Scalastyle, since they probably will have the same problem.

I know it may be confusing for beginners, but that's why it should be disabled by default.

[2018-09-05 23:02] BalmungSan commented on #106
@Rajshr 😄

@mwz, Well I don't really want to explore it, it was more an idea for supporting projects with many sub modules in which their teams would preffer to run aggregated analysis. So, I'm happy with either letting it die or with creating a separate issue for future work/discussion.

[2018-09-06 07:12] Rajshr commented on #106
@mwz , Yes you can close the issue !

[2018-09-06 15:34] barrti opened #109 "The file has no scoverage information associated with it in single-module grade project"
Hello.

I have a single-module gradle project, and while running on Jenkins reportScoverage and then sonarqube tasks I receive output like:
`The file 'src/main/scala/com/sample/utils/DatabaseReader.scala' has no scoverage information associated with it.`
It is the same for all files. The filenames are matching ones in scoverage report.

I have following configuration:
[code]

I tried to set it up

[2018-09-06 19:26] mwz commented on #109
Hi @barrti, is your Jenkins running on Windows by any chance?

[2018-09-06 20:19] barrti commented on #109
No, it is Amazon Linux.

[2018-09-06 23:41] BalmungSan commented on #109
Hi @barrti, Could you run an analysis with the Debug flag _(-X)_ and paste the output here.

I'm specially interested in the Current Working Directory.

Also, just for your information, in my office we once have a similar problem _(but with maven)_, and the root case was that the project was not in the root of the repo.

*Example:*
- RepoBaseDir:
  + Project1BaseDir:
    * pom.xml
    * src/main/s

[2018-09-07 06:59] barrti commented on #109
Hello @BalmungSan, thank you for your input. You were right, there were an issue with working directory:
[code]
It is a known thing with gradle daemon, I've just run it with a flag `--no-daemon` and it started working correctly.

Thanks! :)

[2018-09-07 06:59] #109 closed

[2018-09-12 20:42] #102 closed

[2018-09-14 18:15] BalmungSan commented on #29
Hi @mwz, how much do you want the Coverage to be?, We already are in 90%
And probably when we remove the old scalastyle module we will be good enough in terms of code coverage.
Unless you have some specific module/classes you want to increase the coverage, I think we could close this.

[2018-09-14 20:05] mwz commented on #29
Yeah, we tend to have good coverage on any new code, so I'm happy to close this now 👍

[2018-09-14 20:05] #29 closed

[2018-09-14 20:07] #83 closed

[2018-09-14 20:07] #106 closed

[2018-09-14 21:09] mwz commented on #11
Personally, I'd keep this list as short as possible, so we don't delay releasing this indefinitely. Here is what I'm suggesting:

**Next 6.x release:**
- Finish rewriting Scalastyle & deprecate the old ncredinburgh Scalastyle rules repo and quality profile
- Scalastyle+Scapegoat quality profile
- sonar-scala recommended quality profile

**New 7.x release**
- remove the deprecated Scapegoat report

[2018-09-15 03:30] BalmungSan commented on #80
Given we want to be flexible enough to decide which rules we want, their severity and even override their parameters... I think first of all we should define how we would like to configure it.

In my opinion it would be better to define the properties of the profile in an structured file like xml, and then process it in code to generate the profile. I would even believe that if would be best if we

[2018-09-16 19:04] #79 closed

[2018-09-16 19:48] mwz commented on #80
Yeah, that sounds like a good first step.

I think we should just define the config somewhere in the code - it will save us the hassle of having to load and process the xml file. There's probably no need for it to come from an external file sice it will be only used internally.

I haven't thought too much about it yet, but at first glance, it looks like we'll mostly want to:

1. Blacklist some rul

[2018-09-18 20:48] mwz opened #113 "Use sbt-header plugin"
https://github.com/sbt/sbt-header

[2018-09-19 09:20] samlin425 commented on #98
Hi @mwz , I got same issue on SonarQube 6.7.5. I don't think @ablx 's issue is related to SonarQube7

[2018-09-19 10:43] mwz commented on #98
Hi @samlin425, would you be able to open a new issue and give us some more details about your setup?

[2018-09-19 13:55] samlin425 opened #115 "Make Scapegoat sensor work with absolute file paths in the report"
I use sbt-sonar plugin to do sonarScan, but I got below errors;
[code]
But all files existed.
I saw a familiar issue #98 , it is closed because sonar-scala didn't support SonarQube 7.x.
But I don't think it is related to SonarQube 7.x, because I used SonarQube 6.7.5.

Could someone help me to fix this issue?

[2018-09-19 14:02] samlin425 commented on #115
I used 6.5.1 sonar-scala.

[2018-09-19 14:03] mwz commented on #115
`target/scala-2/12/` doesn't look right along with all the other paths. e.g. `CallAnalyzerWrapper/app/model/Series.scala`...

Your project doesn't seem to have a conventional file structure, have you changed any of the properties for sonar-scanner? sbt-sonar uses `src/main/scala` as the default sources path, but if your project is structured differently you will need to override some of the proper

[2018-09-19 14:05] samlin425 commented on #115
[code]
This is my sonar-project.properties

[2018-09-19 17:17] mwz commented on #115
Are you executing the analysis on a Windows machine by any chance? 🤔

[2018-09-19 19:57] BalmungSan commented on #115
Hi @samlin425, @mwz
I think there could be two reasons why the files aren't found.

1. In the [**ScapegoatReportParser**](https://github.com/mwz/sonar-scala/blob/master/src/main/scala/com/mwz/sonar/scala/scapegoat/ScapegoatReportParser.scala#L33) we replace all dots (`'.'`) except the last one with `'/'`, thats why there are some paths like _/scala-12/12/_ - However, is really strange that you hav

[2018-09-20 00:52] samlin425 commented on #115
Thanks @BalmungSan and @mwz for your support.
I run analysis in Mac, I used sbt-scapegoat plugin to generate scapegoat report file.
Command:
[code]
Scapegoat report xml:
[code]

[2018-09-20 01:30] samlin425 commented on #115
It looks like sbt-scapegoat generate full path in the report.
And in your code
[code]
It can not support full path.

[2018-09-20 04:33] samlin425 commented on #115
I just checked scapegoat code, if the sources path is not "src/main/scala", it will use full path instead.
[code]
[scapegoat code](https://github.com/sksamuel/scapegoat/blob/master/src/main/scala/com/sksamuel/scapegoat/Feedback.scala)

[2018-09-20 04:52] samlin425 commented on #115
So @mwz  @BalmungSan can we support full path? I think change matche Path Pattern to
[code]

[2018-09-20 14:00] BalmungSan commented on #115
Hi @samlin425, well the problem is that as I said before, the **SonarQube** filesystem is relative to the project directory. So, in order to support full paths, we would need to relativize it first. We already do something similar with the paths in Scoverage reports, but the process is somewhat complex and error prone. @mwz could you gave it a look and tell us what do you think?

Also, @samlin425

[2018-09-20 15:00] mwz commented on #115
Looks like Scapegoat relativizes the files against `src/main/scala/` (see https://github.com/sksamuel/scapegoat/blob/20209473e789bab5b74f933b3dd6c68bc7e73725/src/main/scala/com/sksamuel/scapegoat/Feedback.scala#L42), so if you want to get it working asap you should stick to the convention and use `src/main/scala` for the structure of your project.

I would be happy to address this on our end in th

[2018-09-21 07:06] samlin425 commented on #115
@BalmungSan Good Idea, I will submit a issue for Scapegoat.
@mwz  Thanks, if the effort is not big, please help in next release.

[2018-09-28 21:21] #115 closed

[2018-09-30 15:16] mwz commented on #115
Hi @samlin425, could you give [6.6.0](https://github.com/mwz/sonar-scala/releases/tag/v6.6.0) a go and let us know if it fixes your problem?

[2018-10-02 10:47] chortels opened #122 "I don't see coverage results on SonarQube: The file XXXX has no scoverage information associated to it."
Hi,

On a Centos 7 SO I'm executing Maven on this code: https://github.com/mwz/sonar-scala/tree/master/examples/mvn/scala-java and, then, I'm launching a SonarQube analysis to see the code quality results. When the analysis is finished, the log file returns the following, among other messages:

`12:41:19.877 DEBUG: [scoverage] Saving the overall scoverage information of the module
12:41:19.880 DEB

[2018-10-02 23:44] osbornk opened #123 "Source prefix appends rel"
I am stuck on this issue. I have been comparing my project to the sample single module SBT project.

When I run the single module sample, I get output like this

[code]

If I run my project, I get out put like this:
[code]

Notice that the paths in my project have "../../cd/meetingroomindexer/" prepended to them.

Except for the project name and key, I am using the exact same sonar-project.propert

[2018-10-03 00:06] osbornk commented on #123
I just found the issue.

I ran the sample project from this directory: /Users/kosborn/git/sonar-scala/examples/sbt/single-module
I ran my project from /Users/kosborn/git/CD/meetingroomindexer

Notice the "CD" in the path. Apparently, this must be getting executed as the command "cd". If I rename it to "XD" it works.

[2018-10-03 20:21] cleverdeveloper commented on #32
I have implementated it using the following approach on top of normal ScalaTest report listener. Just never had the free moment to contribute.

https://docs.sonarqube.org/plugins/servlet/mobile?contentId=11640033#content/view/11640033

[2018-10-03 22:37] mwz commented on #123
Hi @osbornk, the fact that your source prefixes get resolved to `../../cd/meetingroomindexer/src/main/scala` would be an indication that the base directory of the project (recognised by `sonar-scanner`) is for some reason different from the current working directory from which you executed the analysis, i.e. the root of the project.

I'm not entirely sure what might be causing this (except for exp

[2018-10-03 22:46] mwz commented on #122
Hi @chortels, have you generated the scoverage report before running sonar analysis? e.g. `mvn clean test scoverage:report jacoco:report sonar:sonar`

[2018-10-04 14:04] BalmungSan commented on #122
Hi @chortels, could you please take a look at this [comment](https://github.com/mwz/sonar-scala/issues/109#issuecomment-419275677)?
I think it may solve your issue - if not, could you please paste here the logs of a run using the **DEBUG** flag _(-X)_.

[2018-10-04 14:19] chortels commented on #122
Hi @BalmungSan , thanks for your early answer. I have realised one interesting detail: this warning message doesn't appear when I execute sonar with Maven, but only with my Sonar Scanner.

This is the log that is obtained when I execute the analysis with Sonar Scanner:
`16:14:18.728 INFO: -------------  Scan [example] Maven Scala-Java
16:14:19.583 INFO: Base dir: my_workspace/scala-java
16:14:19.5

[2018-10-04 15:58] BalmungSan commented on #122
So, the problem is that after parsing the report, we end with a _filename_ `../../../../..my_workspace/scala-java/src/main/scala/Example.scala` which is different from the one expected by **sonar** (`src/main/scala/Example.scala`).
Probably this is because this _strange_ source prefix `../../../../..my_workspace/scala-java/src/main/scala` - any ideas of why this value? did you set the `sonar.sourc

[2018-10-04 16:44] mwz commented on #122
yeah, it looks like the sources are set correctly: `INFO: Source paths: src/main/scala, src/main/java`

@chortels, can I just double-check with you that your Jenkins isn't running on Windows?

[2018-10-04 16:51] chortels commented on #122
Hi @mwz . That's correct. Our Jenkins is running on a CentOS 6 machine

[2018-10-04 16:56] mwz commented on #122
Ah yes, you mentioned that earlier. Ok, thanks - I'll try to get this replicated and will get back to you once I find out what's causing this behaviour.

[2018-10-04 20:51] mwz commented on #122
Jenkins is a bit tricky and it seems that the SonarQube Jenkins plugin requires some tweaking to get this working - this is how I set up an example job for the scala-java mvn demo project:

- I used the `https://github.com/mwz/sonar-scala` as project URL
- I added `Invoke top-level Maven targets` job and set up the following goal:
  `-f examples/mvn/scala-java/pom.xml clean test scoverage:report j

[2018-10-04 21:07] chortels commented on #122
Hi @mwz . Thanks for your interest and answer. After reading it I don't see clear what is the key of the solution. Is it setting the property `sonar.projectBaseDir`?

Regards

[2018-10-04 21:34] mwz commented on #122
We're making the assumption ([here](https://github.com/mwz/sonar-scala/blob/ed90e7f149c6bafc6de96e1f1ed642dde201990b/src/main/scala/com/mwz/sonar/scala/util/util.scala#L54)) that sonar-scanner is executed from the root of the project which is analysed (that's our base directory for relativizing any report and file paths). If it's not (which is the case of the above example), it leads to issues wit

[2018-10-04 21:59] mwz commented on #122
Ok, I've checked it again on the example scala-java project which I extracted into a separate repository (https://github.com/mwz/test) and everything works as expected, see below the job I had set up:

[code]

[2018-10-05 00:33] chortels commented on #122
Hi @mwz . When you say "everything works as expected", does it mean that, with that repository structure, the sonar-scanner plugin in Jenkins is now returning the same results we had with `mvn sonar:sonar` command? It sounds strange to me because, as you said previously, in my case scala-java is the root of the project directory.

[2018-10-05 09:36] chortels commented on #122
Hi again @mwz . I've replicated your job and it returns the same result (the file ... has no associated information). I have written below the config.xml file:

`<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@2.5">
      <siteName>http:m

[2018-10-05 22:44] mwz commented on #122
Hi @chortels, would you also be able to include a debug output from sonar-scanner?

[2018-10-08 08:13] chortels commented on #122
Hi @mwz . Sure, the debug output is attached to this comment.
[logsonarscanner.txt](https://github.com/mwz/sonar-scala/files/2455136/logsonarscanner.txt)

[2018-10-08 21:17] mwz commented on #122
The paths in the output don't look right to me, e.g:
- `-Dsonar.projectBaseDir=my_workspace/scala-java_scanner` - in my output from Jenkins I can see that this gets set to an absolute path, e.g. `-Dsonar.projectBaseDir=/var/jenkins_home/workspace/test`, why would Jenkins set this using a relative path? Perhaps something to do with how you configured your Jenkins workspace or the sonarqube plugin s

[2018-10-08 21:22] #11 closed

[2018-11-22 22:59] mwz commented on #80
Ok, I'll have a go at this.

[2018-11-24 17:30] mwz commented on #87
https://github.com/sksamuel/scapegoat/issues/219

[2018-11-25 19:48] mwz opened #131 "Use ScapegoatConfig.inspections to populate active Scapegoat inspections"
By scanning the classpath for instances of `Inspection` we're including some inspections which are no longer active (even though they might still exist in the project). We should use `ScapegoatConfig.inspections` instead to get the current list of active inspections.

[2018-11-25 23:49] #80 closed

[2018-12-01 17:09] #131 closed

[2018-12-01 17:36] mwz opened #133 "Implement Github preview mode for PR decoration"
Given that the [sonar-github](https://github.com/SonarSource/sonar-github) plugin has been deprecated starting from SonarQube 7.2 (no longer works as of 7.4) and PR decoration feature now requires paid SonarQube Developer edition (or SonarCloud subscription) for private projects, we should implement a preview mode for sonar-scala. It's probably just a matter of time before the deprecated parameter

[2018-12-01 17:45] mwz opened #134 "Integrate with SonarCloud"
https://sonarcloud.io/coding_rules?languages=scala

[2018-12-07 13:34] NoamShaish opened #137 "Add upload scalastyle report capability"
Hi,
In order to enable developers a quick feedback loop I would like to have the build report any scalastyle issues (using scalastayle maven plugin for example) but after error were fixed there still stay some warnings and infos that I would like to expose in sonar.
Currently I would have to duplicate my scalastyle configuration into a sonar quality profile gate, instead of just uploading the resu

[2018-12-11 13:42] ybiconviva commented on #32
@mwz I am very struggling on that we are missing test number of ut on sonarqube, I have to show 2 report for my project. is that possible we priorities this feature. I am working on Sonarqube 7.3. Or else, do you have any suggestion that is there any other way we can have it.

[2018-12-13 21:41] mwz commented on #32
Hi @ybiconviva - yeah sure, I'm happy to prioritise this. PRs are also welcomed in case you or @cleverdeveloper want to contribute.

[2018-12-14 00:00] mwz commented on #137
Hi @NoamShaish. It's something that we've talked about a few times and while it's easier to manage your scalastyle config locally for one project, my opinion on this is that the real benefits of sonar are in having a centralised quality profile which applies across all of your projects and it's much more difficult to standardise and maintain a consistent style configuration across many projects if

[2018-12-14 07:03] NoamShaish commented on #137
Hi @mwz , thank you for your replay.
I see your point regarding multiple project profile management and it is probably the right approach, but than I would consider a way to build a profile from an existing scalastyle configuration file to make adoption of this approach easier.

One thing which I am not sure about is the feedback loop, PR means a developer already pushed to repository meaning the

[2018-12-18 05:53] brucenan opened #140 "how can I skip some rules in sonarqube?"
For some special rules, we want to let it be. So how I omit some rules? Thanks.

[2018-12-18 10:52] mwz commented on #140
Hi @brucenan, there are different ways of achieving that:
- go to your quality profile and disable the rules there
- if you're using a built-in quality profile, you can copy it using SonarQube UI and then disable the rules which you don't want
- you can also ignore some rules in the code, e.g. [Scalastyle](https://github.com/scalastyle/scalastyle/blob/5c4bb3e1d6b7666c4546bbbd10c4d503455bbc9e/src/m

[2018-12-18 20:46] mwz opened #141 "Run scalastyle analysis on test files"
Currently, we limit the scope of the analysis to source files, but we should also analyze test files located in the directories defined by the `sonar.tests` property (defaults to `src/test/scala`).

[2018-12-18 21:02] mwz opened #142 "Run scapegoat analysis on test files"
Currently, we limit the scope of the analysis to source files, but we should also analyze test files located in the directories defined by the `sonar.tests` property (defaults to `src/test/scala`).

It appears that Scapegoat doesn't allow running against the test scope, so we would need to address https://github.com/sksamuel/sbt-scapegoat/issues/46 first. This might also require parsing a separate

[2018-12-19 14:20] BalmungSan commented on #141
I am not quite sure this is a good idea... _(the same goes for #142)_

IMHO, tests in general break a lot of common rules like literal values and code duplication.
Also, since tests framework usually provide their own syntax, I'm not sure how accurate **Scalastyle/Scapegoat** would be on these.
Additionally, given a test should have too much logic most of the rules do not make sense, even if they

[2018-12-20 22:03] cleverdeveloper commented on #32
You can see my version here, if needed: https://github.com/evolution-gaming/sbt-sonar-reporter/blob/master/src/main/scala/com/evolutiongaming/sbt/sonar/SonarReporterPlugin.scala

[2018-12-21 17:18] mwz commented on #32
Thanks, @cleverdeveloper - I've chosen a different approach to your implementation. I'm relying on the build tool to generate JUnit test reports (which sbt does by default) and I implemented a custom sensor which parses those reports and saves the test metrics in SonarQube.

[2018-12-23 15:43] cleverdeveloper commented on #32
@mwz I think your approach is actually better and more reliable. I went for mine because it did not require me to create a sensor. Looking forward to try it out.

[2018-12-31 15:50] mwz opened #146 "Backport junit sensor from 7.3.0 to the LTS branch."

[2019-01-01 21:20] #113 closed

[2019-01-01 23:19] mwz commented on #32
This functionality was released in [7.3.0](https://github.com/mwz/sonar-scala/releases/tag/v7.3.0) and should be backported to the LTS branch soon.

[2019-01-01 23:19] #32 closed

[2019-02-05 21:36] etspaceman opened #150 "Scalafix Support"
It would be great if this integrated w/ Scalafix.

[2019-02-14 14:29] manodupont opened #151 "Trying to run sonar but i always got that incompatibility error"
[code]

[2019-02-14 14:31] manodupont commented on #151
Using

[code]

[2019-02-14 14:32] mwz commented on #151
Hi @manodupont, could you share which versions of sonar-scala and SonarQube you're using?

[2019-02-14 14:35] manodupont commented on #151
[code]

[2019-02-14 14:36] manodupont commented on #151
The latest of all i guess! i just installed yesterday!

[2019-02-14 16:10] mwz commented on #151
Looks like there might have been some breaking changes either in 7.5 or 7.6. The last version of SonarQube that sonar-scala was build against is 7.4, we haven't upgraded to 7.6 yet.

[2019-02-14 16:19] manodupont commented on #151
ok! ill try downgrading.

[2019-02-14 16:20] manodupont commented on #151
but, something i dont understand. i just run sonar-scanner. So, its locally breaking. How come SonarQube is responsible of something into that ?!

[2019-02-14 16:21] manodupont commented on #151
I dont know the workflow between sonar-scanner and SonarQube ... so its always communicating between those twos ? I though SonarQube was just a UI to display the results ;)

[2019-02-14 16:40] BalmungSan commented on #151
@manodupont  Not really, the workflow is something like:
The Scanner connects to the server, downloads the plugins _(and a common API that all plugins share)_, then it executes the plugin in local, and sends the results to the server.

Thus, we _(the plugins)_ depend on that common API, which is part of the server. So, if the API introduces some breaking change _(which seems is what is happening h

[2019-02-15 02:11] stillleben commented on #151
I stumpled upon the same issue with conflicting SonarQube 7.6.

I wanted to mention that there is now an official Scala plugin available (see https://www.sonarsource.com/products/codeanalyzers/sonarscala.html) but with quite poor abilities: No support for test coverage and a only a small number of rules. Therefore I would love to see this plugin being ported to latest SonarQube version. :-)

[2019-02-15 09:04] manodupont commented on #151
7.4 fixed the issue!

[2019-02-17 00:39] mwz commented on #151
Thanks for your feedback @stillleben - yes we should upgrade sonar-scala to 7.6 soon. Also, I have some nice new features in the pipeline, so stay tuned for more updates.

[2019-02-17 00:39] #151 closed

[2019-02-22 14:34] yael-lorenzo-olx opened #153 "Findbugs needs sources to be compiled"
Please build project before executing sonar or check the location of compiled classes to make it possible for Findbugs to analyse your (sub)project (/builds/spiderman).
The situation is that I have the sources in two different folders training and service. This is the sonar-project.properties
[code]
Why is findbugs going to the root folder ?
how can I indicate it to go deeper?
I have tried this
[c

[2019-02-22 18:41] yael-lorenzo-olx commented on #153
I solved like this
[code]

[2019-02-22 18:42] #153 closed

[2019-02-22 21:32] mwz commented on #153
Glad you got it sorted out.

[2019-02-24 05:05] carlspring opened #154 "How to get Gradle, Scoverage and Sonarqube to work properly?"
Hi,

I would like to get Gradle and Scoverage to produce code quality and coverage checks and feed them into Sonarqube. I've outlined what I'm doing [here](https://stackoverflow.com/questions/54848573/how-to-get-gradle-scoverage-and-sonarqube-to-work-properly).

In the reports, I can see issues with the code being reported. I can also see that the aggregated Scoverage report is producing code cove

[2019-02-24 13:45] mwz commented on #154
Hi @carlspring, it looks to me like you have misconfigured your project.

I'd recommend you to check out our example multi-module gradle project [here](https://github.com/mwz/sonar-scala/blob/4e223313a6ff019f179aa37593316f72c001482d/examples/gradle/multi-module/build.gradle) and [here](https://github.com/mwz/sonar-scala/blob/4e223313a6ff019f179aa37593316f72c001482d/examples/scan.sh#L27) is how we

[2019-02-25 15:35] carlspring commented on #154
Hi @mwz ,

Thank you very much for getting back to me and for pointing me to these resources. The last time I tried this, was in mid-December and I can now see that you've added full-blown exampels for Gradle, Maven and SBT on 28/12/2018! Thanks for these working examples!

I have managed to get things working locally, but I've noticed that, if there are any Scala tests that use JUnit, it doesn't

[2019-02-25 23:35] mwz commented on #154
👍

It's not something I've come across personally (you don't see much junit tests in scala projects these days...), however so long as scoverage supports junit tests (which I'm not sure about), I can't see any obvious reasons why those wouldn't be taken into account. We process scoverage reports directly, so if you can see junit tests in the report and the metrics for statement, branch and line co

[2019-02-26 01:22] carlspring commented on #154
Hi,

Thanks for these useful clarifications!

I'm afraid we're actually using `5.6.7` and we're getting an upgrade to `6.7.6`, or closest 6.x LTS in the (hopefully) near future. Due to circumstances beyond our control (that I don't want to get into, but picture a large corporation moving slowly), it's unlikely that we will be upgrading to Sonarqube `7.x` soon. Is there a likelihood of getting thos

[2019-02-28 06:59] mwz commented on #154
Yes, I think that I will get those backported quite soon - stay tuned for the updates.

Junit tests with Gradle is quite an unusual setup for me, but I'd be happy to investigate and fix the issue (if possible) if you can provide an example project for me to look at.

[2019-03-02 21:40] mwz commented on #154
FYI, here are the extra unit test metrics backported to the LTS series #164. I should be able to release it soon.

[2019-03-02 22:05] BalmungSan opened #165 "Migrate from Module level scanning, to Project level scanning."
Related to #152

This issue will serve to discuss the strategy we will apply to migrate the plugin from the module level scan we had been using until now, to a project level scan.

The change is motivated since **SonarQube** dropped support to modules on the web view. And even if they still support modules on the scan side, they will eventually drop support for that too.
In any case, we should aim

[2019-03-02 22:28] mwz commented on #150
Thanks for opening this issue, @etspaceman.

It would be nice to integrate with the `DisableSyntax` syntactic rule, but as far as I know, scalafix doesn't generate any files with a report, which is what we would need to process the errors. Alternatively, we could use an API, just like we do with Scalastyle, but scalafix-core doesn't provide anything which we could use to run it in memory and colle

[2019-03-03 18:54] mwz commented on #146
Released in [6.8.0](https://github.com/mwz/sonar-scala/releases/tag/v6.8.0).

[2019-03-03 18:54] #146 closed

[2019-03-07 00:01] BalmungSan commented on #37
I think we should close this for now.
We have been integrating it as we add / refactor features.

What do you think?

[2019-03-07 10:09] #37 closed

[2019-03-09 21:10] #81 closed

[2019-03-09 21:19] #82 closed

[2019-03-10 00:22] #89 closed

[2019-03-11 21:49] mwz commented on #151
Hi @stillleben, @manodupont, just wanted to let you know that a new version of sonar-scala ([7.4](https://github.com/mwz/sonar-scala/releases/tag/v7.4.0)) with support for SonarQube 7.6 is out.

[2019-03-15 03:45] carlspring commented on #65
Is there any update on this? :)

[2019-03-15 04:03] carlspring commented on #64
+1 For the Windows support, please! We're hitting the same issue with the code coverage under Windows.

[2019-03-15 15:34] BalmungSan commented on #65
Hi @carlspring  unfortunately no, we have not looked into this, as we had have another features that we find more priority.

I remember I gave a quick look at this, and the problem was that **Scoverage** produces the reports with the paths in _Windows_ format. But the **Sonarqube** `Filesystem` is in _Unix_ format.

As mwz said on other thread, it is quite weird requiring windows support since mos

[2019-03-21 18:54] carlspring opened #179 "Is there a difference between sonar-scala and the commercial Scala support provided from Sonarsource?"
Hi,

I would like to know how this project differs from the offering that Sonarsource have bundled in their commercial product. Are they the same thing? If not, could you please list the differences, if you know? We're using Sonarqube 6.7.6.

Thanks in advance,

Martin

[2019-03-22 00:12] mwz commented on #179
Hi Martin,

Yes, there are quite a few notable differences between those and we have strong reasons for continuing to developing sonar-scala. I'll put together a list with those differences and I'll get back to you shortly.

[2019-03-22 01:39] carlspring commented on #179
Thanks! This would be really useful!

Hearing your reasoning would also be very much appreciated!

At the moment, we have commercial support for Sonarqube 6.7.6 which incudes support for many of the languages that need. However, we've only recently started evaluating the support for Scala and we're trying to decide which would be the best option. Having a frank comparison would really help!

[2019-03-24 17:13] mwz opened #181 "Metric 'files' should not be computed by a Sensor"
It appears that some metrics have been removed in 7.7 (and number of files is one of them) - see https://jira.sonarsource.com/browse/SONAR-11794.

[2019-03-24 18:01] #181 closed

[2019-03-25 23:30] carlspring commented on #179
@mwz ,

When do you think you'll have a chance to write up this comparison? I'm really keen to find out more! :)

[2019-03-26 15:49] mwz commented on #179
I'll try to put something together in the next day or so.

[2019-03-26 15:52] carlspring commented on #179
Thank you very much! Looking forward to it! :)

[2019-03-27 16:31] carlspring opened #186 "Illustrate how to use sonar-scanner with the Gradle multi-module example"
Hi,

Would you mind providing an example of how to use the `sonar-scanner` to publish the reports for the scanning of the `multi-module` examples to Sonarqube? Is this at all possible for mutli-module projects (using the `sonar-scanner`)?

Doing this works fine from Gradle using `gradle --no-daemon clean test reportScoverage sonarqube`.

It seems that the `sonar-scanner` isn't able to automaticall

[2019-03-27 16:36] BalmungSan commented on #186
Hi @carlspring did you already take a look to the [_example_ **Gradle** - multi-module project](https://github.com/mwz/sonar-scala/tree/master/examples/gradle/multi-module)?
It uses the [sonarqube scanner official plugin for **Gradle**](https://plugins.gradle.org/plugin/org.sonarqube) and works like a charm, do you really require to use `sonar-scanner`?

[2019-03-27 16:42] carlspring commented on #186
I did. It works flawlessly that way. We have a generic tool which wraps aroung the `sonar-scanner`. My impression (please confirm, or correct me) is that the `sonar-scanner` is now a thing of the past and should only be used as a last resort, if your build tool does not have its own built-in (or plugin) support for publishing reports to Sonarqube.

I have been trying to get it to work with the `so

[2019-03-27 16:42] BalmungSan commented on #186
Hi @carlspring sorry if you already read my last response, did get your problem at first.

Had you already tried only setting the properties on the root level only?
The scanner should search for the same relative path on each module, like we do with the [**SBT** multi-module _example](https://github.com/mwz/sonar-scala/blob/master/examples/sbt/multi-module/sonar-project.properties) (which uses `so

[2019-03-27 16:43] carlspring commented on #186
It would be great, if you could provide a `sonar-project.properties` with a couple of lines of instructions on how to execute it with the `sonar-scanner`.

[2019-03-27 16:45] carlspring commented on #186
This is what I have:

[code]

I'm seeing less reported issues (that when using the Gradle example with the Sonarqube plugin) and there is no code coverage.

[2019-03-27 16:46] carlspring commented on #186
I'm assuming there must be a better way than to have to list the directories for the modules one by one, but, so far, I haven't found the proper combination.
]

[2019-03-27 16:47] BalmungSan commented on #186
Can you please try this?

[code]

[2019-03-27 16:50] carlspring commented on #186
Okay, thanks! But... what happens, if you have tons of modules? Do you have to list them all one by one?

[2019-03-27 16:54] carlspring commented on #186
Brilliant! This works!

![image](https://user-images.githubusercontent.com/1436265/55095763-9d000080-50b0-11e9-997d-821b2bef499a.png)

As to my original questions:
* Could you please confirm what is best to use when publishing to Sonarqube (the Gradle plugin, or the `sonar-scanner`; the reasoning would really help us get make a decision and I think we need to migrate to the Gradle plugin approach)

[2019-03-27 16:59] BalmungSan commented on #186
Not sure if it is really dead, but certainly it is being replaced by plugins using the scanner-api, there is work in progress to do the same with the **SBT** plugin, which is the only one (for Scala, that I know) that still relies on `sonar-scanner` itself.

It should be the same as the one used for **SBT**, only changing the paths to match the ones generated by your build tool.
Probably, once the

[2019-03-27 17:07] carlspring commented on #186
Thank you very much for this detailed explanation! It really helps to understand the whole Sonar mess (which is not well documented and typically has documentation that is not up-to-date).

For our projects, we're using Gradle to compile our Scala code. However, thanks for providing the explanation regarding SBT, as this will certainly be of use to others trying to figure it out.

I think it would

[2019-03-27 18:22] mwz commented on #186
The way I see sonar-scanner cli is more like a backup option in case there is no plugin/package available for your build tool, otherwise, it's definitely better to use the more specialised plugin as it will be optimised for the specific build tool and will simply integrate better. The most obvious benefit of using the specific plugins is that they can infer a lot of default settings for you like t

[2019-03-28 18:33] mwz commented on #179
Hi Martin,

So the fundamental difference between sonar-scala and the official SonarScala, as I see it, lies in the style rules provided by both plugins and how they integrate with Scalastyle and Scapegoat, which are the most popular static code analysers in Scala community. Scalafix and WartRemover are currently unsupported by both plugins, but we have plans to support both of those linters at so

[2019-03-28 18:44] mwz opened #187 "Technical debt metrics"
Add technical debt metrics, see the Maintainability section [here](https://docs.sonarqube.org/latest/user-guide/metric-definitions).

I've always thought that those metrics were calculated by the platform, but we might need to save those ourselves.

[2019-03-28 19:02] BalmungSan commented on #187
The total is calculated by the platform, the problem is that none of our sensors specify the technical debt for no issue. Because, none of the rules has such property. Because, none of the providers _(**Scalastyle** & **Scapegoat**)_ provide such info.

[2019-03-28 23:14] carlspring commented on #179
@mwz ,

Thank you for taking the time to write such an extensive comparison! I applaud your efforts!

Such a comparison was actually quite necessary, because the Internet is full of links with outdated and quite often misleading information and the fact that the two projects have the same name, but different spelling adds some more confusion to the mix.

Also, from what I understand from having re

[2019-03-29 15:57] mwz commented on #179
No problem, I'm glad I could help. It seems that you're not the first one to go through this evaluation process and perhaps we could make some of that information more accessible to others by adding it to README or even as a separate guide. I'll maybe also try to write a blog post on this and link it somewhere in the README to give people some more food for thought for when they are trying to make

[2019-03-29 20:28] carlspring commented on #179
I'd like thank both of you again! @BalmungSan, thanks for your help with the examples (and in general -- I've seen your work on this project and it's awesome!). Thank you guys for building an alternative that actually works!

I think that it would be great, if you start a wiki to gather all your knowledge in one place. I'm running an OSS project of my own [here on Github](https://github.com/strong

[2019-04-04 16:08] carlspring opened #191 "Is it possible to collect code quality/coverage reports for projects that have both Scala and Java code?"
Our projects are mostly Scala-based, but we also have some Java here and there mostly from the time when the teams hadn't yet migrated to Scala entirely, so we have some "legacy" Java code mixed in with the Scala in our codebases. We would like to be able to collect code quality/coverage as a merged representation for both languages.

Is this posible and, if so, how?

[2019-04-04 18:18] mwz commented on #191
SonarQube plugins run analysis against files with a specific extension which means that a Scala plugin will run only against `.scala` sources and a Java plugin will run against `.java` and `.jav` files. You can have multiple plugins executed against your project, which is what we've shown in the `scala-java` example [here](https://github.com/mwz/sonar-scala/tree/master/examples/mvn/scala-java).

F

[2019-04-04 19:50] carlspring commented on #191
Thanks for providing the example. All the code is building using Gradle. I will try to adapt one of our projects and report back.

[2019-05-06 15:33] mwz opened #201 "Blacklist the MethodNames inspection from Scapegoat"
It duplicates the functionality of MethodNamesChecker inspection from Scalastyle, which is more configurable.

[2019-05-14 15:47] h-ngo commented on #179
@mwz

Are the rules from SonarScala overlapped with sonar-scala (scalastyle+scapegoat)?

From a quick look, it looks like there are a few. It also looks like it does have some unique rules which may be useful. Would you recommend running both SonarScala and sonar-scala?

[2019-05-14 23:47] mwz commented on #179
Hi @h-ngo, as far as I'm aware there are a few similar rules, e.g. class naming convention, max number of function parameters, TODO/FIXME comments to name a few, but I didn't find those 41 official rules as useful as those 175 provided by Scapegoat and Scalastyle.

Unfortunately running both plugins at the same time doesn't seem to be currently possible. Both plugins try to save the same measures

[2019-05-22 18:55] robbyki opened #207 "Running on Jenkins Server without sonar-scanner binary"
What is the right way to use this plugin without requiring a separate binary for sonar-scanner? Works fine on my local setup but need to be able to use a jenkins server which will run the plugin to publish coverage reports to SonarQube. Just need the coverage report xmls uploaded to SonarQube server.

[2019-05-24 09:25] n3ziniuka5 commented on #187
Would it make sense to manually map rules from Scalastyle and Scapegoat to tech debt metrics that would be defined inside this plugin?

[2019-05-24 09:26] n3ziniuka5 commented on #201
What about `ClassNames` and `ObjectNames`?

[2019-05-24 12:13] mwz commented on #187
Yes, I think that we could do it that way.

[2019-05-24 12:17] mwz commented on #201
Yeah, we should blacklist those rules too.

[2019-05-28 13:42] mwz commented on #207
It will be possible to execute the analysis without sonar-scanner using sbt-sonar once https://github.com/mwz/sbt-sonar/issues/19 is implemented. I'll close this issue, but feel free to add https://github.com/mwz/sbt-sonar to your watch list.
This feature should be implemented soon.

[2019-05-28 13:42] #207 closed

[2019-05-31 13:55] h-ngo opened #211 "Scapegoat results not reported in Sonar"
@mwz
This issue was previously reported and fixed https://github.com/mwz/sonar-scala/pull/96

But currently encountered this issue in multi-module Gradle project. According to the logs (see below with masked module/class named due to business restrictions), it looks like the reported was loaded, but issues are not reported as code smell in Sonar (there are violations in the html that scapegoat gen

[2019-05-31 20:10] mwz commented on #211
Hi @h-ngo, we currently don't support running analysis on test files, neither does scapegoat (see https://github.com/sksamuel/sbt-scapegoat/issues/46).

Feel free to upvote #141 and #142 if that's something you would like to see implemented in the future.

[2019-05-31 20:20] h-ngo commented on #211
@mwz
Sorry for the confusion. Meant to say to ignore error on analysis on test files.

For analysis on non-test files, we saw violations in the html that scapegoat generated

![image](https://user-images.githubusercontent.com/34242287/58732567-e413b600-83bf-11e9-81e3-c9107d812898.png)

and was able to see sonarqube loaded the reported successfully.

09:27:44.631 [INFO] [org.sonarqube.gradle.SonarQ

[2019-05-31 20:23] mwz commented on #211
Is there anything in the logs about those files? All of the errors from your log above are related to the test files.

[2019-05-31 20:35] h-ngo commented on #211
There's no log about non-test files. In fact, I just re-examined the html report. It actually reported on test files only. So, I guess our Gradle configuration is incorrect.

Closing this ticket for now.... Thanks a lot for your quick responses, @mwz !!

[2019-05-31 20:42] mwz commented on #211
👍

I agree it doesn't seem right that Scapegoat is reporting issues about test files.
Have a look at our example multi-module Gradle project [here](https://github.com/mwz/sonar-scala/tree/master/examples/gradle/multi-module) for comparison.

[2019-06-01 08:34] LvffY opened #213 "[Docs] Wrong property in samples maven multi module sample"
In the past few days, I was trying to set up your plugin for a scala multi module project with maven.

I set up exactly like you describe it in your [samples](https://github.com/mwz/sonar-scala/tree/master/examples/mvn/multi-module) and in particular your parent *pom.xml*. Everything worked as expected except for code coverage (with Scoverage)

Then I found the official [SonarQube documentation](h

[2019-06-01 13:27] BalmungSan commented on #213
It is not a mistake, but a confusion.

The property we have in our examples is for this _unofficial_ plugin - **sonar-scala** - which has its own `Scoverage` module.

Now, the other property, as you said, is for the _official_ SonarQube plugin - **SonarScala** - which also includes its own `Scoverage` integration.

Both plugins do not play well together. It is up to you to decide which one to use.

[2019-06-01 13:42] mwz commented on #213
Thanks, @BalmungSan!

[2019-06-01 13:42] #213 closed

[2019-08-19 10:56] gaelrenoux-datadome opened #252 ""scalastyle:ignore" not working with a rule ID"
I have some code like:
[code]
When running scalastyle locally, it rightly ignores the broken rule on the object name. In Sonar however, it appears as a code smell. It works in Sonar if I remove the rule ID:
[code]

[2019-08-19 13:13] mwz commented on #252
You have to use the fully qualified class name of the rule, so this would be `org.scalastyle.scalariform.ClassNamesChecker` in your case.

[2019-08-19 15:37] gaelrenoux-datadome commented on #252
I think it's a bug, though (although obviously a rather minor one). Scalastyle documentation specifies it's the rule ID that should be used, and makes no mention  of using the class name for this purpose. Your workaround did solve the issue in Sonar, but it failed in other tools using Scalastyle plugins (SBT and IntelliJ). So, I need to keep both definitions of the rule, which is a mouthful:
[code

[2019-08-20 09:08] mwz commented on #252
Yes, I see - that makes sense. I'm not sure why the scalastyle ids aren't working, but I'm not using scalastyle locally so that's probably why it's something that I missed. Leve it with me for now and I'll see what can be done to make this work.

[2019-08-22 11:14] ashok-seshadri opened #255 "sonar-scala with ScalaStyle + Scapegoat on remote SonarQUBE server via gradle"
In the documentation you have mentioned that this plugin needs to be downloaded and extracted into the SONARQUBE installation plugins directory.

Is there any way I can use this plugin without having to install it in the SONARQUBE server, by importing the plugin in my build.gradle and publishing the reports into SONAR.

Just like gradle-scoverage. In this we just add the gradle-scoverage dependenc

[2019-08-24 20:59] mwz commented on #255
Unfortunately, SonarSource (the company behind SonarQube) didn't accept this plugin into the marketplace as they don't want to promote community plugins which are competing with their own. I've provided docker images [here](https://github.com/mwz/sonar-scala-docker) to make it easier to use this plugin, but if you don't have access to the server and you can't manage your own instance, then the alt

[2019-08-24 20:59] #255 closed

[2019-10-08 16:55] carlspring opened #270 "Create a Gradle example with a mixed codebase (Java + Scala)"
Hello again! :)

I can see that there is support for identifying JUnit reports and I was wondering, if you could add an actual example that uses this for a mixed codebase. I know you're not really concerned with JaCoCo here, but there are many projects that have legacy codebases which contain both Scala and Java code and getting the code analysis + coverage for them to work is not straight-forward

[2019-10-11 17:29] mwz commented on #270
Hi Martin,

Thanks for your suggestions. We currently have one example with a mixed Scala-Java project, but it's using mvn and it consists only of one module, so it wouldn't be a bad idea to add some Scala-Java examples for Gradle.

Personally, I've never had to deal with any Scala projects with Java sources, so I don't see it being high on my priority list, but of course, I'd be more than happy t

[2019-10-16 15:46] carlspring commented on #9
Hey,

I was wondering -- is there any update on this? Any plans to look into in anytime soon?

[2019-10-16 17:24] mwz commented on #9
It's a feature I'd like to implement at some point, but after #196 I'd like to focus more on integration with scalafix and Wartremover and various improvements to the existing Scalastyle and Scapegoat integrations. I'm also planning to have a go at implementing a Github coverage reporting plugin, so I don't think I'll get around to implementing this feature anytime soon. As always though, I'm open

[2019-10-25 21:13] mwz opened #284 "SonarQube 8.1"
https://www.sonarqube.org/sonarqube-8-1

[2019-11-19 15:27] h-ngo opened #295 "Sonar-scala debug mode?"
Does the plugin offer a debug mode?

We enabled sonarqube debug, but doesn't seem to have much info about the plugin process. We are working on optimizing our build time. We noticed that the sonarqube scan takes more than 20mins to complete.

It always got stuck for a long while after outputting:
[sonar-scala-scoverage] The file "...." has no scoverage information ...
[sonar-scala-scoverage] The f

[2019-11-19 22:37] mwz commented on #295
Yes, I shall make a note about this in the readme when I get the chance. You can run sonar-scala in debug mode by setting the `sonar.verbose` property to `true`, e.g. `sbt -Dsonar.verbose=true sonarScan` if you use [sbt-sonar](https://github.com/mwz/sbt-sonar).

[2019-12-02 22:54] #133 closed

[2019-12-02 23:03] BalmungSan commented on #133
**Cool!!**
Congratulations for the hard work!

[2019-12-18 16:52] mwz commented on #284
`8.1` has just come out, so I've updated this ticket.

[2019-12-19 17:30] #295 closed

[2019-12-19 17:33] mwz opened #325 "Add a note to readme on how to run sonar-scala in debug mode"

[2019-12-23 23:37] mwz opened #329 "Allow running PR decoration for users without write permissions to the Github repo"
Currently, the Github user which is used to run PR decoration must have write permissions to the Github repository. This is required to set a PR status at the beginning and at the end of the analysis. We could relax this requirement and still allow sonar-scala to submit the review without setting the PR status, which would only require read permissions to the repo. In the current implementation, t

[2019-12-23 23:42] mwz opened #330 "Post a summary comment at the end of PR review"
This comment could contain a summary of the issues found in the PR, e.g. the number of issues for each severity level, similarly to what the old [Github plugin](https://docs.sonarqube.org/display/PLUG/GitHub+Plugin) used to do.

[2019-12-23 23:49] mwz commented on #325
Closed by #327.

[2019-12-23 23:49] #325 closed

[2019-12-23 23:50] mwz commented on #295
@h-ngo, I added a quick note about this at the bottom of [this](https://github.com/mwz/sonar-scala#sonar-scanner-properties) section in the readme.

[2019-12-25 18:32] mwz opened #331 "Replace Scalariform with scalameta"
Scalariform is outdated now and hasn't been maintained for over half a year now.
All of the modern tooling in the ecosystem uses scalameta now, so I think it's time we also make the switch. It should also get us closer to supporting Scala 3 in the near future.

We should update our Scala Sensor to use scalameta to parse source files and report the basic metrics such as `COMMENT_LINES`, `NCLOC`, `C

[2019-12-25 18:57] mwz commented on #24
This is no longer needed.

[2019-12-25 18:57] #24 closed

[2019-12-25 19:17] mwz opened #332 "Upgrade to Scala 2.13"
We should upgrade the project to use Scala 2.13, but I'm afraid that scalastyle hasn't been published for 2.13 and it probably won't be because the project appears to be no longer maintained 😢

I think the only viable option is to fork scalastyle and start maintaining our own fork.

[2019-12-25 19:29] mwz opened #333 "Add support for Scala 2.13 sources"
I think that both Scalariform and Scapegoat support Scala 2.13, so we probably could add support for 2.13 sources, but I think it would make sense to upgrade to 2.13 internally, see #332.

[2019-12-25 23:49] mwz opened #336 "Embed pr decoration assets as plugin resources"
Apparently it's possible to embed images as plugin resources and have them exposed through SonarQube, so we should give that a try with the pr decoration severity images. See [here](https://github.com/mwz/sonar-scala/blob/master/src/main/scala/com/mwz/sonar/scala/pr/model.scala#L65) where to find them.

Quoting the docs [here](https://docs.sonarqube.org/latest/extend/developing-plugin/):

[2019-12-29 18:56] BalmungSan commented on #336
While at first impression that sounds like a good idea. After thinking for a while, I doubt it will be useful for many people. For example in my company, our SonarQube servers are private and only reachable under certain ips. So, what would happen when reviewing the PRs? Probably the images won't load.
And I would think this is common for most private projects.

And for public projects _(like this

[2019-12-29 19:35] mwz commented on #336
You're making a good point @BalmungSan, I'll close this issue then and let's keep those assets public.

[2019-12-29 19:35] #336 closed

[2019-12-30 01:02] mwz commented on #78
Hey @BalmungSan, I've started creating a microsite for this project.

There is just a landing site for now, but I'm planning to move and refine all the content from the readme and add some more useful info in there.

Let me know if you have any comments so far, any feedback would be much appreciated.

https://sonar-scala.com

You can find the repo [here](https://github.com/sonar-scala/website) if

[2019-12-30 01:11] BalmungSan commented on #78
@mwz Amazing work!

Just two things:

1. Add the link, here, in the description of the project _(but maybe you are just waiting until the site is complete)_.
2. I would put the images down the tittle, instead of the tittle down the image.

[2019-12-30 16:38] mwz commented on #78
Thanks for having a look 👍

I've made the change, does it look any better now?

[2020-01-02 17:16] samp-git18 opened #339 "Unable to build the Project multi-module"
Hello, exactly clone the files under the multi-module and ran the below pipeline script
[code]
Build Output :

[code]

[2020-01-02 17:21] samp-git18 commented on #339
We are having a 7 module scala project so want to know the dependencies needed and other parameters to analyse the scala code in sonarqube, your help is much appreciated.

[2020-01-02 17:48] samp-git18 commented on #339
Got the issue resolved  Sorry for the trouble !

[2020-01-02 17:48] #339 closed

[2020-01-02 17:57] mwz commented on #339
No problem, feel free to give me a shout if you need help with anything else.

Hopefully, the example is self-explanatory, but if you think it needs to be improved please let me know.

[2020-01-03 09:55] samp-git18 commented on #339
Thanks @mwz your examples are brilliant and keep up the great work, helps a lot of  sonarqube novice like me !

Hi Michael, Well i ran into an issue while building our project :

[code]
How do i ignore those errors and proceed to analyse the next modules ? Your help is much appreciated.

[2020-01-03 10:41] mwz commented on #339
Thanks, I'm glad you find those useful.

Those errors are coming from Scapegoat, so what you can do is you can locally downgrade those errors to warnings so that your project compiles without any errors using the `-P:scapegoat:overrideLevels:` compiler flag. See [here](https://github.com/sksamuel/scapegoat#full-list-of-compiler-flags) and [here](https://github.com/sksamuel/scapegoat#maven) for mor

[2020-01-03 11:39] samp-git18 commented on #339
Thanks Michael for your valuable suggestion, i actual found that overrideLevels option and was doing it for all the 6 errors that were generated, thanks to that all command which will make our work simpler, Thanks a lot again ! :)

[2020-01-03 12:12] samp-git18 commented on #339
I did add that override line in args as shown below, but the results are the same, the rules still fails as errors.

[code]

I'm sorry to bother, is there anything i missed ?

[2020-01-03 12:20] mwz commented on #339
Make sure you're using the latest version, this was released only recently in 1.4.0, https://github.com/sksamuel/scapegoat/commit/bc2f4fa63260020ee20581cf1d74997bdbd7ae55.

[2020-01-03 13:35] #78 closed

[2020-01-06 10:26] samp-git18 commented on #339
@mwz  Thanks Michael ! It worked, was using an older version. Appreciated !

[2020-01-06 15:37] BalmungSan commented on #16
Dude, this was almost two years ago?! Wow, in my mind it was like a year ago @-@

[2020-01-06 16:41] mwz commented on #16
wow, you're right 😱

[2020-01-06 23:15] mwz opened #343 "Export all inspections into a json file"
We should export all of the rules from our rule repositories and quality profiles to a json format which then could be used on the website.

I'd like to create something similar to [this](https://rules.sonarsource.com) rule search interface for sonar-scala rules.

[2020-01-06 23:29] #16 closed

[2020-01-19 22:31] #284 closed

[2020-01-20 11:40] yuxh opened #351 "org.scalastyle.file.IndentationChecker conflict with scalafmt"

[2020-01-20 11:44] #351 closed

[2020-01-20 11:44] yuxh commented on #351
I am wrong

[2020-01-20 12:28] mwz commented on #351
np

[2020-01-25 19:28] mwz commented on #332
Closed by #350.

[2020-01-25 19:28] #332 closed

[2020-01-25 20:02] #140 closed

[2020-01-25 20:02] #137 closed

[2020-01-25 20:03] #122 closed

[2020-01-26 13:08] #333 closed

[2020-02-23 21:12] mwz commented on #107
Fixed and released in https://github.com/beautiful-scala/scalastyle.

[2020-02-23 21:12] #107 closed

[2020-02-23 21:15] mwz commented on #107
This was fixed and released in https://github.com/beautiful-scala/scalastyle.

[2020-03-03 00:38] mwz commented on #343
This is what it looks like so far https://sonar-scala.com/docs/rules/scalastyle.
Sorting out Scapegoat descriptions is next on my list (https://github.com/mwz/sonar-scala/issues/87 - https://github.com/sksamuel/scapegoat/issues/219).

[2020-03-11 00:50] mwz opened #396 "SonarQube 8.2"
https://www.sonarqube.org/sonarqube-8-2
https://docs.sonarqube.org/latest/setup/upgrade-notes
https://jira.sonarsource.com/secure/ReleaseNote.jspa?projectId=10930&version=15301

[2020-03-29 17:07] #87 closed

[2020-03-30 23:00] #396 closed

[2020-04-01 06:54] jinwoo-k opened #414 "Support PR decoration for github enterprise"
The company I work for is using GitHub Enterprise.
sonar-scala can only use github.com so i can't use in-house github.
If this part is modified, it seems that more users can use it.

[2020-04-01 17:32] mwz commented on #414
Hi @jinwoo-k, thanks for the request 👍

I'm not that familiar with GH Enterprise, so I was wondering whether the only thing that's different from GitHub is the custom URL to your installation or are there actually any API changes that we would need to make?

Unfortunately, this isn't something that's currently on my roadmap, but I'd be happy to accept contributions.

[2020-04-07 06:27] jinwoo-k commented on #414
Thank you for your reply.
The github url of our company is https://github.companydomain.com/api/v3, and is only using URL without any problems.
So I added an apiurl variable to the Github object of GlobalConfig and was used as cli.

This is part of the GlobalConfig class I modified.
<img width="1043" alt="스크린샷 2020-04-07 오후 3 23 20" src="https://user-images.githubusercontent.com/24490553/7

[2020-04-08 17:29] mwz commented on #414
Sounds like an easy one, would you perhaps like to open a PR for it? 😄

[2020-04-24 23:17] wei-luo-exa opened #432 "Missing measures for custom metrics"
Only sonar-scala-lts project on https://sonar.sonar-scala.com/projects has statement coverage, all other scala projects don't.

[2020-04-26 18:34] mwz commented on #432
It seems that custom metrics are now deprecated and are supposedly getting removed in the future.

![Screenshot 2020-04-26 at 19 20 39](https://user-images.githubusercontent.com/1190768/80316243-7c930000-87f4-11ea-8a6a-f121bc0826f4.png)

It is quite confusing from the plugin perspective because they are not deprecated in the API, so I'd expect to still see the measures in the activity graph, but i

[2020-04-26 23:01] jinwoo-k commented on #414
I want to. But I think I don't have the authority. Can you grant me an authority?

[2020-04-26 23:40] mwz commented on #414
Fork the repo and you should be good to go :+1

[2020-04-27 17:03] wei-luo-exa commented on #432
Thanks Michael for taking care of this. Since the custom metrics is very important for us, can I continue to use old release 7.4? Is there docker image for 7.4?

[2020-04-27 17:23] mwz commented on #432
Yes, you can - have a look at the compatibility section in the readme https://github.com/mwz/sonar-scala-docker#compatibility-matrix and expand `Other versions` to find out which version of the image you need to pull.

[2020-04-27 19:07] wei-luo-exa commented on #432
**mwizner/sonarqube-scala-plugins:3.4.0-full** image works for us. Is there any documentation you recommend about how the line coverage gets calculated. Thanks again!

[2020-05-09 15:50] mwz commented on #432
Hi @wei-luo-exa, the line coverage is calculated by SonarQube's engine. We report to SonarQube the number of hits per each line (which we extract from the scoverage report) and then SonarQube figures out the rest. You can find out more in SonarQube's docs [here](https://docs.sonarqube.org/latest/user-guide/metric-definitions/):

[2020-05-09 18:28] mwz commented on #432
FYI, from what it looks like to me, we need to aggregate measures for those custom metrics manually, which didn't use to be the case in the past.

I'll try to fix this soon, so keep an eye on this thread.

[2020-05-22 09:03] cosminci commented on #211
@mwz We're seeing the same issue, but no scapegoat results seem to be reported at all in SonarQube (that is, nothing for source files either, not just test files).

Here are the logs:
[code]
Looking into the XML report there are quite a few issues for source files reported by scapegoat, but none of them end up in SonarQube. The scala style issues do appear.

Any ideas what might be wrong?

[2020-05-22 11:08] mwz commented on #211
Hi @cosminci, you're not executing a scan on Windows, are you?

Just to clarify, the `<path>` part in the above file path isn't actually part of the path, I'm assuming you just shortened/obfuscated it before you posted it?

It might be worth trying to run it with `-Dsonar.verbose=true` to see the debug info - there might be something that can give us some clues.

[2020-05-22 13:02] cosminci commented on #211
Running on both mac & docker alpine and results are the same. The path is obfuscated yes, it's just the usual package path e.g. `src/test/scala/com/cosminci/testproject/RandomTest.scala`.

Weirdly enough, I'm not seeing any DEBUG or TRACE logs when starting with `-Dsonar.verbose=true` or `-Dsonar.log.level=TRACE` or setting either of these options as properties inside the pom with the rest of the

[2020-05-22 21:24] mwz commented on #211
[ERROR] [sonar-scala-scapegoat] The file 'src/test/scala/<path>Test.scala' couldn't be found.

This path doesn't look right to me:
1. Scapegoat shouldn't run against your test files, just source files, but it looks like somehow you ended up with Scapegoat results for your test files, i.e. from `src/test/scala`?
2. When you look at the [logs](https://app.circleci.com/pipelines/github/mwz/sonar-scal

[2020-05-22 22:42] cosminci commented on #211
Decided to start with the [example project](https://github.com/mwz/sonar-scala/tree/master/examples/mvn/multi-module) and then gradually evolve it towards the more complex pom structure I have to see where they start diverging.

The first thing I noticed is that scapegoat code smells don't end up in SonarQube for the example either, so something likely changed since the example was last updated.

[2020-05-23 22:50] mwz opened #455 "SonarQube 8.3"
https://www.sonarqube.org/sonarqube-8-3

[2020-05-25 15:28] #432 closed

[2020-05-25 22:19] mwz commented on #211
How do you mean? [Here](https://sonar.sonar-scala.com/project/issues?id=sonar-scala%3Aexample-mvn-multi-module&issues=AWllABOFfsoN-mdhPCwN&open=AWllABOFfsoN-mdhPCwN) you can see an example scapegoat issue reported for the mvn multi-module project. It would be good if you could share what you're doing different to how the example is set up. Perhaps you're using new versions of dependencies and some

[2020-05-25 22:19] #455 closed

[2020-05-26 11:42] cosminci commented on #211
Rechecked and I do see scapegoat issues included in the example project, must've been confused by the Scalastyle tag of the issues I checked initially.

I've updated the example pom step by step to match my own and it looks like the problem is due to the scala version. Steps:
1. Set
[code]
This fails compilation: `[ERROR] error: java.lang.NoSuchMethodError: scala.tools.nsc.Global.reporter()Lscala/

[2020-05-26 14:21] cosminci commented on #211
Removed the sonar-scala docker image I had locally and downloaded the 8.2 one, and the scapegoat reports are there \o/.

Also, in order to fix the overriding reports it was necessary not just to create separate executions for the `compile` and `testCompile` phases, but also to move the scapegoat plugin's configuration to only be inside the execution for the `compile` phase. It's still a mystery to

[2020-05-28 16:46] mwz commented on #432
FYI @wei-luo-exa, I've released a new version of the plugin [v8.3.0](https://github.com/mwz/sonar-scala/releases/tag/v8.3.0), which fixes those custom metrics. I'll publish a new Docker image soon.

[2020-06-10 00:53] wei-luo-exa commented on #432
@mwz Thanks, is the docker image available with v8.3.0?

[2020-07-09 02:31] #414 closed

[2020-07-10 17:11] mwz opened #492 "SonarQube 8.4"
https://www.sonarqube.org/sonarqube-8-4

[2020-07-16 17:18] colomain opened #498 "Any plans to compatibilize this plugin with sonarlint"
Rules published by this plugin didn't appear in sonarlint. I can only see HTML, Java, Javascript, PHP, Python, TypeScript rules. Rules from sonarsource plugin didn't appear either...

[2020-07-16 17:49] mwz commented on #498
Hi @colomain, thanks for raising this.

I'm afraid we don't support sonarlint in sonar-scala.
I think it is possible though to implement it, but I haven't invested any time yet to look into it. If I was to look into it, I'd probably only aim to support VSCode. I don't think it would be practical to continuously run and generate a Scapegoat report in the background during development, so I'd also p

[2020-09-16 03:37] franbh commented on #492
@mwz can we get a new release after #515 has been merged? I'm also working on the corresponding PR for `sonar-scala-docker`. Thanks!

[2020-09-16 10:15] mwz commented on #492
Thanks @franbh, I'll try to get this sorted today-ish.

[2020-09-19 22:10] #492 closed

[2021-01-25 17:57] h-ngo opened #591 "Scala 2.13 supports for Sonar 7.9.x"
Hi,

Is there any plan to add Scala 2.13 support for sonar-scala 7.9.x?

Scala 2.13 support was added since sonar-scala 8.0.0. However, this version isn't compatible with Sonar 7.9.x. We don't usually upgrade since we are on LTS version. Plus, the latest LTS is 7.9.x still.

Or is it fine to use sonar-scala 7.x with Scala 2.13? We recently upgraded, but haven't noticed any problem ... yet.

[2021-02-15 23:00] mwz commented on #591
Hi, sonar-scala 7.9.0 should work with 2.13.
The 7.9.x LTS series hasn't received any new features, bug fixes and updates (such us new Scalastyle and Scapegoat rules), but as far as I can remember it does work with 2.13 sources.

[2021-04-15 06:52] geirsandearm commented on #270
This is how you could make an aggregated jacoco report with both java and scala classes

[code]

[2021-05-11 15:49] Symbianx opened #672 "Can't get junit report to work with test coverage"
Hello,
Thanks for all the amazing work put into this plugin, it's extremely useful!

I managed to get the statement coverage and code smell reports working in sonarqube but I'm failing to get the number of unit tests run working.

Our project uses sbt and generates the test reports as expected but I can't seem to get all the sonar sensors working at the same time.

Am I doing anything wrong here?

[2021-05-12 09:50] Symbianx commented on #672
Hi @mwz,
Thanks for the quick response!
After setting the `sonar.tests` to `src/test/scala`, it still didn't work. Our tests are all in the `src/test/scala/taxonomy` directory. After moving the tests to `src/test/scala` junit report sensor seems to pick them up.

I also had to set `sonar.sources` to `src/main/scala` for the code smells and coverage scanning to work and it picked up the source file

[2021-05-15 21:10] mwz commented on #672
From what I remember those test reports contain package names not directory structure, so your folder structure needs to reflect your package naming for the sensor to recognise those test files - so if your package name is `taxonomy` and all your tests are inside `src/test/scala/taxonomy` setting `sonar.tests` to `src/test/scala` should work fine, unless perhaps you're missing package declarations

[2021-05-17 09:29] Symbianx commented on #672
Wow, you're absolutely right. My test file was missing the package declaration... 🤦
Thanks so much for all the help @mwz !

[2021-05-17 09:29] #672 closed

[2021-05-17 09:30] mwz commented on #672
no worries, glad you got that sorted out!

[2021-05-20 19:43] pszabo75 opened #681 "7.9.x jar download"
Where can I get the 7.9.x LTE jar file? Bintray URLs seem to be broken.

[2021-05-20 22:12] mwz commented on #681
Hi, all new releases starting from 8.7 go to Sonatype and Maven Central, but I haven't re-published any of the historical versions. The 7.9 LTE series have now reached the EOL since we have a new SonarQube 8.9 LTS out, so I'll be publishing a new version of sonar-scala for the new LTS version soon. If for some reason you really want the version for the old LTS plugin, you can still get it from the

[2021-05-20 23:01] pszabo75 commented on #681
Thank you for the quick answer. We just started to upgrade our plant from 6.7 to 7.9.
I'll try to extract the jar file from the docker image.

[2021-06-17 14:35] h-ngo opened #706 "Sonar 8.9 LTS support"
@mwz is there an ETA for a new release to support Sonar 8.9 LTS?

[2021-06-17 14:42] mwz commented on #706
Soonish hopefully; I haven't had much time lately - sorry to keep you waiting.

[2021-06-17 14:58] h-ngo commented on #706
Thanks for the quick response.

How likely will it be released within a month? we are doing some analysis for the upgrade. Kinda want to know the time frame so we can decide whether to consider the official Sonar Scala from Sonarqube as a backup, which certainly will take more times to migrate.

[2021-06-17 15:02] mwz commented on #706
Quite likely I'll get around to doing that within the next week or two, so shouldn't be too long.

[2021-06-17 15:15] h-ngo commented on #706
great! Thanks a lot.

[2021-07-08 13:02] h-ngo commented on #706
Hi @mwz
Do you happen to have any update?

[2021-07-14 19:42] h-ngo commented on #140
Hi @mwz
ignoring rules in the code (using scalastyle:off and scalastyle:ignore) seems to be broken.

![image](https://user-images.githubusercontent.com/34242287/125682619-cce27fa7-9ce9-448b-a845-0947637eb1a6.png)

Sonar: 7.9.1 LTS
Sonar-scala: 7.9.0
(Same for sonar and sonar-scala 8.x as well)

Do you happen to have any idea? Thanks

[2021-07-15 11:02] mwz commented on #140
@h-ngo the id needs to match the rule id in SonarQube not scalastyle - e.g. `org.scalastyle.scalariform.ClassNamesChecker`

![Rules](https://user-images.githubusercontent.com/1190768/125777733-99a9b97d-7de2-44c7-8823-f8dbd949dea0.png)

see an example in code here https://github.com/sonar-scala/sonar-scala/blob/7d151b84cb638ee47ee055bf6b6cd90d5dc93e8c/src/main/scala/com/mwz/sonar/scala/sensor/Measu

[2021-07-15 14:05] h-ngo commented on #140
Thanks! that worked! wasn't aware it's been changed to SonarQube rule id instead.

[2021-10-12 23:45] mwz commented on #134
Hi, are you asking whether 1. this plugin is scanned and reporting results to SonarCloud or 2. whether one can use this plugin in SonarCloud?

the answer is no to both:

1. We were planning to integrate with SonarCloud to get the plugin accepted to the SonarQube Marketplace, but we got rejected since SonarSource didn't want any competition in this space (see [here](https://community.sonarsource.co

[2021-10-12 23:45] #134 closed

[2021-10-13 07:05] angelcervera commented on #134
Looks like a mafia. 😄

[2021-12-16 07:34] evasokolova1f opened #786 "SonarQube 9.2 support"
Hi!
Are there plans to add support for SonarQube version 9.2?

[2021-12-16 10:08] mwz commented on #706
Apologies for the delay. Just released https://github.com/sonar-scala/sonar-scala/releases/tag/v8.9.0, docker images should be available within a day or so.

[2021-12-16 10:08] #706 closed

[2021-12-16 13:05] mwz commented on #786
Hi @evasokolova1f, I'm catching up on recent releases, but yes a release for 9.2 is planned.

[2021-12-16 18:35] evasokolova1f commented on #786
Hi @mwz!
Can you please tell me when can I expect the release? Approximately will work too.

[2021-12-17 12:57] mwz commented on #786
I'll try and take a closer look before the end of the year and let you know once I know more - I'm not sure atm whether there have been any breaking changes in the 9.x series.

[2021-12-17 15:59] yarosman commented on #786
@mwz I can try to help with updating if you help me to resolve error locally
[code]
when I try to compile project

[2021-12-17 17:07] mwz commented on #786
Thanks @yarosman!

This doesn't happen for me and in the CI, so looks to me like it's related to your local environment. If you can open a separate issue with some more details on your project set up, which line you're getting this error from etc I can try and help you resolve this.

[2021-12-22 14:01] evasokolova1f opened #791 "Fail to install sonar-scala on SonarQube 8.7"
Hi!

I try to install sonar-scala plugin on SonarQube 8.7.
So I download jar file from https://s01.oss.sonatype.org/content/repositories/releases/com/sonar-scala/sonar-scala_2.13/8.7.0/sonar-scala_2.13-8.7.0-assembly.jar, saved it in /opt/sonarqube/extensions/plugins directory.
But after server restart I have such error in web.log:
`2021.12.22 16:54:52 ERROR web[][o.s.s.p.Platform] Background init

[2021-12-22 16:30] mwz commented on #791
You can only have a single plugin for any given language, so you need to remove the sonarsource sonarscala plugin from `/opt/sonarqube/lib/extensions/` in order to be able to use sonar-scala.

See an example from my docker image [here](https://github.com/sonar-scala/sonar-scala-docker/blob/v5.7.0/current/full/Dockerfile#L7).

[2021-12-23 11:47] evasokolova1f commented on #791
@mwz Thank you very much!

[2021-12-23 11:47] #791 closed

[2022-03-30 11:15] saif-ellafi commented on #786
Hi all, @mwz
Any updates perhaps on 9.2 support? Anyone tested it to see what happens? We can test it if such information is missing, or test any progress branch if direction is kind of clear.

[2022-04-06 06:08] shafemoh commented on #786
Hi all,
Any timeliness for when a stable release of this plugin will be released and that will support Sonarqube EE v9.2.4?

Regards,
@Shafemoh

[2022-05-07 19:07] #786 closed

[2022-05-10 23:41] mwz commented on #786
support for SonarQube 9.4 has been released thanks to @Fristi - sonar-scala [v9.0.0](https://github.com/sonar-scala/sonar-scala/releases/tag/v9.0.0)
you can get the artifact directly from Sonatype or use the docker images from https://hub.docker.com/r/mwizner/sonarqube-scala-plugins

[2022-05-11 12:19] shafemoh opened #834 "Compatibility check with Sonar 9.2"
Hi team,

This request is an extension to https://github.com/sonar-scala/sonar-scala/issues/786
We saw that this plugin has now an official support for Sonarqbue 9.4 but we are currently running Sonarqube on version 9.2. Does this plugin support Sonarqube 9.2 (obviously it shouldn't, but my question still)?

However, when we installed the latest one (supported for 9.4) on Sonarqube 9.2, it broke t

[2022-05-15 17:58] mwz commented on #834
The latest release is built against SonarQube 9.4 and won't work with earlier versions.
There's no new features in the latest sonar-scala version, so If 8.9.0 works for you then great - you should continue using it, but I'd suggest updating to sonar-scala 9.0.0 when you upgrade SonarQube to 9.4.

[2022-05-15 17:58] #834 closed, assigned to nobody

[2022-05-15 17:59] #681 closed

[2022-06-07 08:55] diversit opened #838 "Sonar scan fails on underscore `_` in literal numbers"
**Problem**
SonarScanner throws an error when Scala code contains a numeric literal. E.g. `150_000L`.

This problem seems to be caused by Scalariform not allowing an underscore in a numeric literal in the `checkNoLetter` function in `ScalaOnlyLexer`.
I also created an issue there: [#293](https://github.com/scala-ide/scalariform/issues/293)

SonarPlugin is using Scalariform by passing `forgiveError

[2022-06-12 15:30] shafemoh opened #839 "What is sonar-scala-assembly.jar?"
Hi team,
we would like to use your plugin for our Sonarqube EE (9.4.0) application. We would like to use the [v9.0.0](https://github.com/sonar-scala/sonar-scala/releases/tag/v9.0.0) of this plugin sonar-scala.

However when I look at the [releases page](https://github.com/sonar-scala/sonar-scala/releases), I see it's written: _This plugin is available for download from [Sonatype](https://s01.oss.s

[2022-06-14 23:28] mwz commented on #839
Hi, yes - the assembly file is the jar you should be using to install sonar-scala.

[2022-06-14 23:28] #839 closed, assigned to nobody

[2022-06-27 05:16] shafemoh opened #840 "Sonar scala is not analyzing as expected"
Hi team,
We have just upgraded Sonarqube on our QA environment with v9.4.0 (from v9.2.4). And installed the new and compatible sonar-scala 9.0 (by removing the existing in-built sonarscala from Sonarqube app). However, after analyzing some the scala based projects on the QA env, we are getting results that are different from what we see on our Production env (where inbuilt sonarscala is present).

[2022-08-18 08:34] DavidPerezIngeniero opened #852 "sonarProperties look like to be useless"
Using SBT 1.7.1 and latest sbt-sonar 2.3.0, under Linux.

If I set:

[code]
it isn't used.

The only workaround I've found is to set system properties:

[code]

[2022-08-18 12:30] DavidPerezIngeniero commented on #852
Sorry this bug was for sbt-sonar.

[2022-08-18 12:30] #852 closed, assigned to nobody

[2022-10-11 11:34] GolanTrevize10 opened #855 "Compatibility with 9.6"
Is this plugin compatible with 9.6?